.landing__bg{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.bgDark{
  object-fit: cover;
  object-position: 50% 10%; 
}
.bglight {
  object-fit: cover;
  object-position: 50% 20%;
}

.landing__hero {
  position: relative;
  padding-top: var(--spacing-M);
  height: calc(
    var(--window-height) -
      (var(--nav-height))
  );    
 
  @media only screen and (max-width: 90em){    
    padding-top: var(--spacing-LM);
  }    

  @media only screen and (max-width: 65em) {
    padding-top: 0;
  }  
}  

.presentation {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @media only screen and (max-width: 65em){
    align-items: center;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 37.5em){
    padding-top: var(--spacing-M);
  } 
}

.presentation__main {
  margin-bottom: var(--spacing-XS);

  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-subTitle_01);
  }
}
.presentation__sub {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  padding-right: var(--spacing-LM);
  @media only screen and (max-width: 65em){
    padding-right:0;
    align-self: center;
    }
}

.dot {
  width: var(--font-size-bodyText_03);
  height: var(--font-size-bodyText_03);
  background: var(--prim-500-main);
  border-radius: 50%;
}
.presentation__sub_txt {
  letter-spacing: 1px;
}

.img_caption__containeur {
  position: absolute;
  right: 0;
  text-align: right;
  bottom: calc(var(--padding-vertical) + var(--spacing-LM));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}

.img_caption__left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XS);
}

.img_caption__right {
  border-right: 1px solid var(--font-color-sec);
  height: var(--spacing-L);
}
.img_caption__down p {
  color: var(--font-color-sec);
}

.sec_color_txt {
  color: var(--font-color-body_02);
}

.header {
  position: relative;
  height: var(--window-height);
  padding-top: var(--spacing-LM);
}


