.section01__Grid {
  position: relative;
  height: 200vh;

  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-rows: 1px 1.2fr 15rem 1fr 2.4rem;
  align-items: center;
  justify-items: center;
  padding-inline: var(--padding-inLine);
  max-width: var(--max-width-L);
  margin: auto;
  gap: var(--spacing-S);

  transform: translateY(-10vh);

  @media only screen and (max-width: 125em) {
    height: 200vh;
    max-width: var(--max-width-M);
  }
  @media only screen and (max-width: 37.5em) {
    grid-template-rows: 1px 2fr 10rem 1fr 2.4rem 8rem 1fr 2.4rem;
  }
}

.horizontalRule {
  transform: translateY(var(--spacing-S));
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
  border: none;
  border-top: 0.5px solid;
  border-color: var(--rules-color);
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}

/* === part 1 === */


.link__img {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  overflow: hidden;
  @media only screen and (max-width: 65em) {
    grid-column: 1/4;
  }
}
/* .link__img:hover > *,
.link__museum:hover > *,
.link__city:hover > * {
  filter: saturate(0.3);
  transition: all 0.3s;
} */

.link__img:hover ~ .img_caption__containeur {
  transform: translateX(24rem);
  opacity: 100;
}

.link__img:active > * {
  transition: all 0.1s;
}

.imgJapPreview {
  object-fit: cover;
  text-align: right;
  object-position: 25%;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s;
  z-index: 200;
}
.imgJapPreview:hover,
.imgMuseumPreview:hover,
.imgCityPreview:hover {
  transform: scale(1.05);
}

.imgJapPreview__position {
  object-position: 50%;
}

.kanji {
  align-self: last baseline;
  grid-row: 2/3;
  grid-column: 2/3;
  font-weight: 400;
  line-height: var(--font-size-Display_01);
  /* margin-bottom: calc(var(--spacing-L) + var(--spacing-S)); */
  cursor: default;
  z-index: 110;
  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-Display_03);
    grid-column: 3/4;
    align-self: flex-end;
    justify-self: left;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}

.transparency {
  grid-row: 2/3;
  grid-column: 3/4;
  z-index: 110;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 65em) {
    background-color: var(--bg-p1-transparency);
    backdrop-filter: blur(4px) brightness(var(--bg-p1-brightness));
  }

  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.title__box {
  grid-row: 2/3;
  grid-column: 3/4;

  justify-self: end;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: left;
  position: relative;
  cursor: default;
  z-index: 110;

  @media only screen and (max-width: 125em) {
    justify-self: center;
  }
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
    height: 30%;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.title__box_txt {
  font-weight: 300;
  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-Display_03);
  }
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}
.title__box_mobile {
  @media only screen and (min-width: 37.5em) {
    display: none;
  }
  @media only screen and (max-width: 37.5em) {
    font-weight: 300;
    font-size: var(--font-size-Title_02);
  }
}

.title__box_line01 {
  grid-row: 1/2;
  grid-column: 1/3;
  letter-spacing: 1.6rem;
  @media only screen and (max-width: 65em) {
    letter-spacing: 0.9rem;
  }
}

.title__box_line02 {
  letter-spacing: 1.95rem;
  grid-row: 2/3;
  grid-column: 1/2;
  @media only screen and (max-width: 65em) {
    letter-spacing: 1.2rem;
  }
}

.title__box_line {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 5rem;
  justify-self: end;
  margin-right: 2.8rem;
  transform: translateY(12px);
  border-top: 2px solid var(--rules-color);

  @media only screen and (max-width: 65em) {
    justify-self: end;
    margin-right: 2rem;
    transform: translateY(0px);
    border-top: 1px solid var(--rules-color);
  }
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}
.title__box_L3 {
  grid-row: 3/4;
  grid-column: 1/3;
  letter-spacing: 2.8rem;
  font-weight: 300;
  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-Display_03);
    letter-spacing: 1.7rem;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: var(--font-size-Title_02);
  }
}

.kanji__line {
  border-top: 1px solid var(--font-color-main);
}

.p1__link__containeur {
  margin-top: var(--spacing-S);
  padding-right: var(--spacing-S);
  grid-row: 4/5;
  grid-column: 1/3;
  justify-self: end;
  @media only screen and (max-width: 37.5em) {
  }
}

/* === part 2 === */

.shadows__title,
.museums__title {
  align-self: last baseline;
  grid-row: 3/4;
  text-align: center;
  line-height: var(--font-size-subTitle_01);
  cursor: default;
}
.shadows__title {
  grid-column: 1/2;
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
  }
}
.museums__title {
  grid-column: 3/4;
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
    grid-row: 6/7;
  }
}
.underline {
  margin-top: 0.8rem;
}

.link__city,
.link__museum {
  grid-row: 4/5;

  width: auto;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border-inline: var(--spacing-S) solid var(--background-color);
  z-index: 400;
  @media only screen and (max-width: 65em) {
    width: 100%;
    border-inline: 0px;
  }
  @media only screen and (max-width: 37.5em) {
    width: 100%;
    height: 100%;
  }
}

.link__city {
  grid-column: 1/2;
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
  }
}
.link__museum {
  grid-column: 3/4;
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
    grid-row: 7/8;
  }
}

.img__container_city,
.img__container_museum {
  overflow: hidden;
  width: auto;
  height: 100%;
  transition: all 0.3s;
  @media only screen and (max-width: 65em) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imgCityPreview,
.imgMuseumPreview {
  object-fit: cover;
  width: auto;
  height: 100%;
  position: relative;

  transition: all 0.3s;
  @media only screen and (max-width: 37.5em) {
    width: 100%;
    height: 100%;
  }
}

.legend__city,
.legend__museums {
  grid-row: 5/6;
  text-align: right;
  position: relative;
  justify-self: right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}

.legend__city {
  grid-column: 1/2;
  position: relative;
  padding-right: var(--spacing-S);
  @media only screen and (max-width: 65em) {
    padding-right: 0px;
  }
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
  }
}
.legend__museums {
  grid-column: 3/4;
  padding-right: 0;
  padding-right: var(--spacing-S);
  @media only screen and (max-width: 65em) {
    padding-right: 0px;
  }
  @media only screen and (max-width: 37.5em) {
    grid-column: 1/4;
    grid-row: 8/9;
  }
}

.verticalRule {
  border-left: 1px solid var(--font-color-main);
  height: var(--spacing-M);
}

.img_caption__containeur_city,
.img_caption__containeur_museum {
  grid-row: 4/5;
  position: absolute;
  opacity: 0;
  bottom: 0;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-XS);
  transition: all 0.2s;
  z-index: 100;
  text-align: left;
  padding-left: var(--spacing-XS);
  border-left: 1px solid var(--rules-color);

  text-align: right;

  @media only screen and (max-width: 71em) {
    display: none;
  }
}

.img_caption__containeur_city {
  left: var(--spacing-S);
  grid-column: 1/2;
}

.img_caption__containeur_museum {
  left: var(--spacing-S);
  grid-column: 3/4;
}

.img_caption__right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XS);
}

.img_caption__left {
  border-right: 1px solid var(--font-color-sec);
  height: var(--spacing-L);
}
.img_caption__down p {
  color: var(--font-color-sec);
}

.link_txt {
  transition: all 0.2s;
}

.link__city:hover ~ .img_caption__containeur_city,
.link__museum:hover ~ .img_caption__containeur_museum {
  opacity: 100;
  transition: all 0.2s;
  z-index: 700;
}

.link__city:hover ~ .img_caption__containeur_city,
.link__museum:hover ~ .img_caption__containeur_museum {
  transform: translateY(105%);
}
/* .link__museum:hover ~ .img_caption__containeur_museum {
  transform: translateX(-90%);
} */

.link_txt:hover {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
  text-decoration-thickness: 1px;
  text-underline-offset: var(--spacing-XXS);
}

.link_txt:active {
  transform: scale(9.5);
  border-bottom: 1px solid var(--prim-500-main);
}
