/* actions_btn */

.cart__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: var(--max-width-MS);
  margin-inline: var(--spacing-S);
  margin: 0 auto var(--spacing-M);
}
.cart__container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cartNav__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: var(--spacing-SM);

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: 1.5fr 1fr;
  }
  @media only screen and (max-width: 41.25em) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.cartHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-SM);
  gap: var(--spacing-S);
  width: 100%;
}

.cartMainContent {
  margin-bottom: var(--spacing-S);
}

.resume {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3rem auto;
  align-items: center;
  justify-items: first baseline;
  margin-bottom: var(--spacing-S);
  gap: var(--spacing-S);
  max-width: 58rem;
  width: 100%;
  margin-bottom: var(--spacing-M);
  @media only screen and (max-width: 62.5em) {
    grid-template-columns: 1.5fr 1fr;
  }
}

.res_Left {
  position: relative;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
}

.res_Right {
  position: relative;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
}

.res_head {
  border-bottom: 1px solid var(--link-color-underline);
  width: 100%;
  text-transform: lowercase;
  padding-bottom: var(--spacing-XS);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/3;
}
.res_detail {
  color: var(--font-color-gray);
}

.actions_btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-S);
}

.qtyLabel{
  color: var(--font-color-main);
  font-family: var(--font-geologica-Regular);
  font-size: var(--font-size-bodyText_01);
}

.quantity_wrap {
  position: relative;
}
.quantityDropDown {
  color: var(--font-color-main);
  text-transform: capitalize;
  height: var(--spacing-S);
  padding-inline: var(--spacing-SS);
  font-family: var(--font-geologica-Regular);
  font-size: var(--font-size-bodyText_01);
  margin-left: var(--spacing-S);
  border-radius: var(--borderRadiusBtn-very-soft);
  background-color: var(--dropDown-Coutry-bg);
  cursor: pointer;
  appearance: none;
  border: 1px solid var(--sec-300);
}

.select_box:focus {
  outline: none;
}

.customArrow {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  background-color: transparent;
  height: 100%;
  width: var(--spacing-SS);
  pointer-events: none;
  border-top-right-radius: var(--borderRadiusBtn-very-soft);
  border-bottom-right-radius: var(--borderRadiusBtn-very-soft);
  border-top: 1px solid var(--sec-300);
  border-bottom: 1px solid var(--sec-300);
  border-right: 1px solid var(--sec-300);
}

.customArrow::before,
.customArrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.customArrow::before {
  border-left: var(--arrow-S) solid transparent;
  border-right: var(--arrow-S) solid transparent;
  border-bottom: var(--arrow-S) solid var(--font-color-sec);
  top: 30%;
}
.customArrow::after {
  border-left: var(--arrow-S) solid transparent;
  border-right: var(--arrow-S) solid transparent;
  border-top: var(--arrow-S) solid var(--font-color-sec);
  top: 70%;
}

.removeBtn {
  background-color: var(--sec-700);
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  color: var(--neutral-50);
  transition: all 0.2s;
}
.removeBtn:hover {
  background-color: var(--sec-900);
  cursor: pointer;
  outline: 1px solid var(--sec-700);
}

.cartFooter {
  /* margin-top: auto; */
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-S);
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: var(--spacing-M);
  border-left: 1px solid var(--link-color-underline);
  @media only screen and (max-width: 62.5em) {
    padding-left: 0;
  }
  @media only screen and (max-width: 41.25em) {
    padding-top: var(--spacing-S);
    border-left: none;
    border-top: 1px solid var(--link-color-underline);
    margin-bottom: var(--spacing-S);
  }
}
.advice_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  border-bottom: thick double var(--font-color-gray);
}

.majorLink {
  width: 100%;
  text-align: center;
  color: var(--neutral-50);
  height: var(--btnSeclection-height-M);

  border-radius: var(--borderRadiusBtn-very-soft);
  border: 1px solid var(--sec-300);
  cursor: pointer;
  transition: all 0.2s;
  padding-inline: var(--spacing-S);
  font-family: var(--font-geologica-Regular);
  letter-spacing: 1px;
  font-size: var(--font-size-bodyText_01);
}

.orderLink {
  background-color: var(--sec-700);
}
.adviceLink {
  background-color: var(--netral-700);
}

.orderLink:hover,
.cartLink:hover,
.adviceLink:hover {
  background-color: var(--prim-700);
}

.totalTxt {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
}
.expedition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPreview {
  height: auto;
  width: 70%;
  object-fit: contain;
  box-shadow: 0rem 0rem 0rem 2.3rem rgb(201, 201, 201);
  margin-left: auto;
  margin-right: 2.3rem;
}

.galleryFrame {
  outline: 5px solid var(--black-Oak);
  padding: 0px;
  clear: both;
  margin: auto;
}
.artbox {
  outline: 2px solid var(--alder-Brown);
  padding: 0px;
}
.floater {
  outline: solid 5px var(--alder-Brown);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
  padding: 3px;
}
.passePartout {
  outline: 5px solid var(--black-Oak);
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
  padding: 10px;
}

.smallFrame {
  outline: 2px solid var(--black-Oak);
}
.mediumFrame {
  outline: 5px solid var(--black-Oak);
}
.bigFrame {
  outline: 7px solid var(--black-Oak);
}

.border01 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 71%;
  margin: auto;
  padding: 1px;
}
.border02 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 72%;
  margin: auto;
  padding: 2px;
}
.border03 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 73%;
  margin: auto;
  padding: 3px;
}
.border05 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 75%;
  margin: auto;
  padding: 5px;
}
.border08 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 78%;
  margin: auto;
  padding: 12px;
}
.border12 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 82%;
  margin: auto;
  padding: 12px;
}

.passSizeSmall {
  width: 73%;
  padding: 3px;
}
.passSizeBig {
  width: 85%;
  padding: 15px;
}
.blackPass {
  background-color: #222222;
}

.alderBrown {
  outline-color: var(--alder-Brown);
}
.blackOak {
  outline-color: var(--black-Oak);
}
.naturalOak {
  outline-color: var(--natural-Oak);
}
.mapleWhite {
  outline-color: var(--maple-White);
}

.form__container {
  width: 90%;
}
