.cart__container {
  position: relative;
  max-width: var(--max-width-MS);

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartNav__container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: var(--spacing-SM);
}

.cartHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-SM);
  gap: var(--spacing-S);
  width: 100%;
}
.majorLink {
  width: 100%;
  text-align: center;

  border-radius: 2rem;
  padding: 0.4rem 1rem;
  border: 1px solid var(--sec-300);
  cursor: pointer;
  transition: all 0.2s;
}

.majorLink:hover {
  transform: scale(1.04);
}

.orderLink {
  background-color: var(--sec-700);
}
.orderLink:hover,
.cartLink:hover {
  background-color: var(--prim-700);
}

.imgPreview {
  height: auto;
  min-width: 15rem;
  object-fit: cover;
}

.cartMainContent {
  margin-bottom: var(--spacing-S);
}

.resume {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: var(--spacing-S);
  gap: var(--spacing-S);
  width: 50rem;
}

.res_Left {
  position: relative;
  width: 100%;
}

.res_head {
  border-bottom: 1px solid var(--link-color-underline);
  max-width: 100%;
  text-transform: lowercase;
  padding-bottom: var(--spacing-XS);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.res_detail {
  color: var(--font-color-gray);
}

.removeBtn {
  background-color: var(--sec-700);
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  color: var(--font-color-main);
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
}
.removeBtn:hover {
  background-color: var(--sec-900);
  cursor: pointer;
  border: 1px solid var(--sec-700);
  transform: scale(1.02);
}

.cartFooter {
  /* margin-top: auto; */
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-S);
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: var(--spacing-M);
  border-left: 1px solid var(--link-color-underline);
}

.totalTxt {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
}

.finalOrderLink {
  width: 70%;
}
