.fram__content__container {
  max-width: var(--maxWidth);
  padding-inline: var(--padding-vertical);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: baseline;
  justify-items: center;
  margin-bottom: var(--spacing-M);
  position: relative;
  height: 100%;
}
.fram__content__left {
  position: relative;
  max-width: 40rem;
  width: 50vw;
  height: 100%;
  padding-top: var(--spacing-M);
  margin-right: var(--spacing-L);
  justify-self: right;
}
.fram__content__right {
  align-self: baseline;
  justify-self: baseline;
  width: 100%;
  max-width: 35vw;
  height: 100%;
}

.img__wall {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
}

.img_container {
  position: fixed;
  bottom: 10rem;
  width: 100vw;
  max-width: 40rem;
  height: min-content;
  margin-top: 10rem;
}

.img_fixed {
  position: absolute;
  bottom: 0rem;
}

.select_container {
  background-color: var(--bg-txt-multiplier);
  width: 100%;
  height: max-content;
  border-radius: 1rem;
  padding: var(--spacing-SS);
  position: relative;
  overflow: hidden;
}

.img {
  width: 10rem;
  height: auto;
  position: relative;
  object-fit: contain;
  z-index: 100;
  mix-blend-mode: normal;
}

.currentSelectedImg {
  outline: 2px solid var(--prim-500-main);
}

.img__selected {
  width: 70%;
  height: auto;
  object-fit: contain;
  max-width: 100rem;
  position: absolute;
  z-index: 300;
  top: 20%;
  left: 50%;
  padding: 0px;
  transform: translate(-50%, -50%);
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.664);
  outline-width: 0;
}

.img__mokeup {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
  max-width: 100rem;
}

.imgs_flex {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}

.imgPrev {
  list-style: none;
}

.smallHR {
  width: 100%;
  border-color: var(--font-color-gray);
}
.other_text {
  width: 150%;
  text-align: center;
  color: var(--font-color-gray);
}
.title_text {
  text-align: left;
  color: var(--font-color-main);
  min-width: max-content;
}
.shortDescrition {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-S);
}

.fram_module {
  margin-top: var(--spacing-M);
  position: relative;
}

.recommandation_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
  padding-top: var(--spacing-M);
  margin-bottom: var(--spacing-M);
}
.section_title {
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}

.frames_solutions {
  margin-top: var(--spacing-S);
  margin-bottom: var(--spacing-SM);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-S);
  padding-left: var(--spacing-S);
}

.btn_selector {
  border: none;
  outline: none;
  width: 15rem;
  padding-inline: var(--spacing-SS);
  height: 5rem;
  border-radius: 4rem;
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
}
.btn_reset {
  border: none;
  outline: none;
  width: 12rem;
  padding-inline: var(--spacing-SS);
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
}
.btn_reset:disabled {
  background-color: var(--netral-500);
  transition: all 0.1s;
  color: var(--sec-50);
}
.btn_reset:hover:disabled {
  cursor: not-allowed;
}

.btn_selector:hover,
.btn_selector:active,
.btn_reset:hover:not(:disabled),
.btn_reset:active:not(:disabled) {
  background-color: var(--prim-900);
  cursor: pointer;
}

.btn_selector:hover,
.btn_reset:hover:not(:disabled) {
  transform: scale(1.1);
}

.btn_information {
  border: none;
  outline: none;
  min-width: 15rem;
  padding-inline: var(--spacing-SS);
  height: 5rem;
  border-radius: 4rem;
  background-color: transparent;
  transition: all 0.1s;
  color: var(--sec-50);
  border: 2px solid var(--sec-900);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}
.btn_information:hover {
  background-color: var(--sec-900);
  border: 2px solid var(--information);
  cursor: pointer;
  transform: scale(1.1);
}

.insideBtnIcone {
  width: 3rem;
  height: 3rem;
  color: var(--sec-50);
}
.selectedFrame {
  background-color: var(--prim-700);
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  width: 3rem;
}

.icone {
  width: 3rem;
  height: 3rem;
  color: var(--sec-300);
  cursor: pointer;
  transition: all 0.2s;
  z-index: 300;
}

.icone:hover {
  transform: scale(1.1);
  color: var(--prim-300);
}

.iconeClose {
  position: absolute;
  top: var(--spacing-S);
  right: var(--spacing-S);
}

.iconeDesc {
  font-size: var(--font-size-bodyText_02);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
.icone:hover ~ .iconeDesc {
  transform: translate(25%, -50%);
  opacity: 100;
}

.infoBox {
  background-color: var(--netral-500);
  width: 50%;
  height: 100%;
  z-index: 400;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-S);
  gap: var(--spacing-S);
}
.slideIn {
  transform: translateX(0%);
}

.infoBox .icone {
  align-self: flex-end;
}

.smallFrame {
  outline: 2px solid var(--black-Oak);
}
.passePartout {
  outline: 10px solid var(--black-Oak);
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.passSizeSmall {
  width: 73%;
  padding: 6px;
}
.passSizeBig {
  width: 85%;
  padding: 30px;
}
.blackPass {
  background-color: #222222;
}

.galleryFrame {
  outline: 10px solid var(--black-Oak);
  padding: 0px;
  width: 70%;
}
.artbox {
  outline: 5px solid var(--alder-Brown);
  padding: 0px;
  width: 70%;
}
.floater {
  outline: solid 10px var(--alder-Brown);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 71%;
  margin: auto;
  padding: 3px;
}

.alderBrown {
  outline-color: var(--alder-Brown);
}
.blackOak {
  outline-color: var(--black-Oak);
}
.naturalOak {
  outline-color: var(--natural-Oak);
}
.mapleWhite {
  outline-color: var(--maple-White);
}

.bigFrame {
  outline-width: 20px;
}
.blackAndWhite {
  filter: grayscale(100%);
}

.border01 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 71%;
  margin: auto;
  padding: 2px;
}
.border02 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 72%;
  margin: auto;
  padding: 4px;
}
.border03 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 73%;
  margin: auto;
  padding: 6px;
}
.border05 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 75%;
  margin: auto;
  padding: 10px;
}
.border08 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 78%;
  margin: auto;
  padding: 16px;
}
.border12 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 82%;
  margin: auto;
  padding: 24px;
}
