.fram__content__container {
  max-width: var(--maxWidth);
  padding-inline: var(--padding-vertical);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: baseline;
  justify-items: center;
  margin-bottom: var(--spacing-M);
  position: relative;
  height: 100%;
}
.fram__content__left {
  position: relative;
  max-width: 40rem;
  width: 50vw;
  height: 100%;
  padding-top: var(--spacing-M);
  margin-right: var(--spacing-L);
  justify-self: right;
}
.fram__content__right {
  align-self: baseline;
  justify-self: baseline;
  width: 100%;
  max-width: 35vw;
  height: 100%;
}

.img__wall {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
}

.img_container {
  position: fixed;
  bottom: 10rem;
  width: 100vw;
  max-width: 40rem;
  height: min-content;
  margin-top: 10rem;
}

.totalPrice {
  position: absolute;
  bottom: calc((var(--font-size-Title_02) + var(--spacing-SS)) * -1);
  right: 0;
  z-index: 410;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
}

.img_fixed {
  position: absolute;
  bottom: 0rem;
}

.select_container {
  background-color: var(--bg-txt-multiplier);
  width: 100%;
  height: max-content;
  border-radius: 1rem;
  padding: var(--spacing-SS);
  position: relative;
  overflow: hidden;
}

.img {
  width: 10rem;
  height: auto;
  position: relative;
  object-fit: contain;
  z-index: 100;
  mix-blend-mode: normal;
}

.currentSelectedImg {
  outline: 2px solid var(--prim-500-main);
}

.img__selected {
  height: auto;
  object-fit: contain;
  position: absolute;
  z-index: 300;
  top: 12rem;
  left: 50%;
  padding: 0px;
  transform: translate(-50%, -50%);
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.664);
  outline-width: 0;
}

.img__mokeup {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  aspect-ratio: 0.75;
}

.imgs_flex {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}

.imgPrev {
  list-style: none;
}

.smallHR {
  width: 100%;
  border-color: var(--font-color-gray);
}
.other_text {
  width: 150%;
  text-align: center;
  color: var(--font-color-gray);
}
.title_text {
  text-align: left;
  color: var(--font-color-main);
  min-width: max-content;
}
.shortDescrition {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-S);
}

.fram_module {
  margin-top: var(--spacing-M);
  position: relative;
}

.recommandation_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
  padding-top: var(--spacing-M);
  margin-bottom: var(--spacing-M);
}
.section_title {
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}

.frames_solutions {
  margin-top: var(--spacing-S);
  margin-bottom: var(--spacing-SM);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-S);
  padding-left: var(--spacing-S);
}

.sec_addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: var(--spacing-S);
}

.btn_selector {
  border: none;
  outline: none;
  width: 15rem;
  padding-inline: var(--spacing-SS);
  height: 5rem;
  border-radius: 4rem;
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
}

.cart__quantity {
  font-size: var(--font-size-bodyText_01);
}

.btn_addToCart_complet {
  width: 20rem;
  background-color: var(--prim-900);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_addToCart:hover,
.btn_addToCart:active,
.btn_addToCartv2:hover,
.btn_addToCartv2:active {
  background-color: var(--prim-700);
  cursor: pointer;
}

.btn_addToCart {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn_addToCartv2 {
  background-color: var(--prim-900);
  border: none;
  outline: none;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-radius: 1rem;
}

.btn_goToCartv2 {
  background-color: var(--sec-900);
  border: none;
  outline: none;
  min-width: 20rem;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-radius: 1rem;
}
.btn_goToCartv2:hover,
.btn_goToCartv2:active {
  background-color: var(--sec-700);
  cursor: pointer;
}

.right__btns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn__symbs {
  border: none;
  outline: none;
  width: 4rem;
  border-left: 1px solid var(--font-color-gray);
  background-color: var(--prim-900);
}
.btn__symbs__top {
  border-top-right-radius: 1rem;
}
.btn__symbs__bot {
  border-top: 1px solid var(--font-color-gray);
  border-bottom-right-radius: 1rem;
}

.btn__symbs:hover {
  background-color: var(--prim-700);
  cursor: pointer;
}

.btn_reset {
  border: none;
  outline: none;
  width: 12rem;
  padding-inline: var(--spacing-SS);
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
}
.btn_reset:disabled {
  background-color: var(--netral-500);
  transition: all 0.1s;
  color: var(--sec-50);
}
.btn_reset:hover:disabled {
  cursor: not-allowed;
}

.btn_selector:hover,
.btn_selector:active,
.btn_reset:hover:not(:disabled),
.btn_reset:active:not(:disabled) {
  background-color: var(--prim-900);
  cursor: pointer;
}

.btn_selector:hover,
.btn_reset:hover:not(:disabled) {
  transform: scale(1.1);
}

.btn_information {
  border: none;
  outline: none;
  min-width: 15rem;
  padding-inline: var(--spacing-SS);
  height: 5rem;
  border-radius: 4rem;
  background-color: transparent;
  transition: all 0.1s;
  color: var(--sec-50);
  border: 2px solid var(--sec-900);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}
.btn_information:hover {
  background-color: var(--sec-900);
  border: 2px solid var(--information);
  cursor: pointer;
  transform: scale(1.1);
}

.miniIcone {
  width: 3rem;
  height: 3rem;
  color: var(--sec-50);
}

.insideBtnIcone {
  width: 3rem;
  height: 3rem;
  color: var(--sec-50);
}
.selectedFrame {
  background-color: var(--prim-700);
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  width: 3rem;
}

.icone {
  width: 3rem;
  height: 3rem;
  color: var(--sec-300);
  cursor: pointer;
  transition: all 0.2s;
  z-index: 300;
}

.icone:hover {
  transform: scale(1.1);
  color: var(--prim-300);
}

.iconeClose {
  position: absolute;
  top: var(--spacing-S);
  right: var(--spacing-S);
}

.iconeDesc {
  font-size: var(--font-size-bodyText_02);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
.icone:hover ~ .iconeDesc {
  transform: translate(25%, -50%);
  opacity: 100;
}

.infoBox {
  background-color: var(--netral-500);
  width: 50%;
  height: 100%;
  z-index: 400;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-S);
  gap: var(--spacing-S);
}
.slideIn {
  transform: translateX(0%);
}

.infoBox .icone {
  align-self: flex-end;
}

.smallFrame {
  outline: 2px solid var(--black-Oak);
}
.passePartout {
  outline: 10px solid var(--black-Oak);
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.passSizeSmall {
  width: 73%;
  padding: 6px;
}
.passSizeBig {
  width: 85%;
  padding: 30px;
}
.blackPass {
  background-color: #222222;
}

.galleryFrame {
  outline: 10px solid var(--black-Oak);
  padding: 0px;
  width: 70%;
}
.artbox {
  outline: 5px solid var(--alder-Brown);
  padding: 0px;
  width: 70%;
}
.floater {
  outline: solid 10px var(--alder-Brown);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 71%;
  margin: auto;
  padding: 3px;
}

.alderBrown {
  outline-color: var(--alder-Brown);
}
.blackOak {
  outline-color: var(--black-Oak);
}
.naturalOak {
  outline-color: var(--natural-Oak);
}
.mapleWhite {
  outline-color: var(--maple-White);
}

.bigFrame {
  outline-width: 20px;
}
.smallFrame {
  outline-width: 10px;
}
.blackAndWhite {
  filter: grayscale(100%);
}

.size16 {
  width: var(--imgSizeSample16);
  top: 12rem;
  left: 50%;
}
.size20 {
  width: var(--imgSizeSample20);
  top: 12rem;
  left: 50%;
}
.size24 {
  width: var(--imgSizeSample24);
  top: 14rem;
  left: 40%;
}
.size30 {
  width: var(--imgSizeSample30);
  top: 14rem;
  left: 40%;
}
.size35 {
  width: var(--imgSizeSample35);
}
.size40 {
  width: var(--imgSizeSample40);
}
.size50 {
  width: var(--imgSizeSample50);
}
.size60 {
  width: var(--imgSizeSample60);
}
.size70 {
  width: var(--imgSizeSample70);
}
.size80 {
  width: var(--imgSizeSample80);
}
.size90 {
  width: var(--imgSizeSample90);
}

.border01 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border01 {
  width: calc(var(--imgSizeSample16) + 2.6%);
  padding: 1.3%;
}
.size20.border01 {
  width: calc(var(--imgSizeSample20) + 2.6px);
  padding: 1.3%;
}
.size24.border01 {
  width: calc(var(--imgSizeSample24) + 2.6px);
  padding: 1.3%;
}
.size30.border01 {
  width: calc(var(--imgSizeSample30) + 2.6px);
  padding: 1.3%;
}
.size35.border01 {
  width: calc(var(--imgSizeSample35) + 1.7%);
  padding: 0.85%;
}
.size40.border01 {
  width: calc(var(--imgSizeSample40) + 1.7%);
  padding: 0.85%;
}
.size50.border01 {
  width: calc(var(--imgSizeSample50) + 1.7%);
  padding: 0.85%;
}
.size60.border01 {
  width: calc(var(--imgSizeSample60) + 1.7%);
  padding: 0.85%;
}
.size70.border01 {
  width: calc(var(--imgSizeSample70) + 0.5%);
  padding: 0.25%;
}
.size80.border01 {
  width: calc(var(--imgSizeSample80) + 0.5%);
  padding: 0.25%;
}
.size90.border01 {
  width: calc(var(--imgSizeSample90) + 0.5%);
  padding: 0.25%;
}

.border02 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border02 {
  width: calc(var(--imgSizeSample16) + 5.4%);
  padding: 2.7%;
}
.size20.border02 {
  width: calc(var(--imgSizeSample20) + 5.4%);
  padding: 2.7%;
}
.size24.border02 {
  width: calc(var(--imgSizeSample24) + 5.4%);
  padding: 2.7%;
}
.size30.border02 {
  width: calc(var(--imgSizeSample30) + 5.4%);
  padding: 2.7%;
}
.size35.border02 {
  width: calc(var(--imgSizeSample35) + 3.3%);
  padding: 1.65%;
}
.size40.border02 {
  width: calc(var(--imgSizeSample40) + 3.3%);
  padding: 1.65%;
}
.size50.border02 {
  width: calc(var(--imgSizeSample50) + 3.3%);
  padding: 1.65%;
}
.size60.border02 {
  width: calc(var(--imgSizeSample60) + 3.3%);
  padding: 1.65%;
}
.size70.border02 {
  width: calc(var(--imgSizeSample70) + 1%);
  padding: 0.5%;
}
.size80.border02 {
  width: calc(var(--imgSizeSample80) + 1%);
  padding: 0.5%;
}
.size90.border02 {
  width: calc(var(--imgSizeSample90) + 1%);
  padding: 0.5%;
}

.border03 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border03 {
  width: calc(var(--imgSizeSample16) + 8%);
  padding: 4%;
}
.size20.border03 {
  width: calc(var(--imgSizeSample20) + 8%);
  padding: 4%;
}
.size24.border03 {
  width: calc(var(--imgSizeSample24) + 8%);
  padding: 4%;
}
.size30.border03 {
  width: calc(var(--imgSizeSample30) + 8%);
  padding: 4%;
}
.size35.border03 {
  width: calc(var(--imgSizeSample35) + 5%);
  padding: 2.5%;
}
.size40.border03 {
  width: calc(var(--imgSizeSample40) + 5%);
  padding: 2.5%;
}
.size50.border03 {
  width: calc(var(--imgSizeSample50) + 5%);
  padding: 2.5%;
}
.size60.border03 {
  width: calc(var(--imgSizeSample60) + 5%);
  padding: 2.5%;
}
.size70.border03 {
  width: calc(var(--imgSizeSample70) + 1.5%);
  padding: 0.75%;
}
.size80.border03 {
  width: calc(var(--imgSizeSample80) + 1.5%);
  padding: 0.75%;
}
.size90.border03 {
  width: calc(var(--imgSizeSample90) + 1.5%);
  padding: 0.75%;
}

.border05 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border05 {
  width: calc(var(--imgSizeSample16) + 16%);
  padding: 8%;
}
.size20.border05 {
  width: calc(var(--imgSizeSample20) + 16%);
  padding: 8%;
}
.size24.border05 {
  width: calc(var(--imgSizeSample24) + 16%);
  padding: 8%;
}
.size30.border05 {
  width: calc(var(--imgSizeSample30) + 16%);
  padding: 8%;
}
.size35.border05 {
  width: calc(var(--imgSizeSample35) + 10%);
  padding: 5%;
}
.size40.border05 {
  width: calc(var(--imgSizeSample40) + 10%);
  padding: 5%;
}
.size50.border05 {
  width: calc(var(--imgSizeSample50) + 10%);
  padding: 5%;
}
.size60.border05 {
  width: calc(var(--imgSizeSample60) + 10%);
  padding: 5%;
}
.size70.border05 {
  width: calc(var(--imgSizeSample70) + 3%);
  padding: 1.5%;
}
.size80.border05 {
  width: calc(var(--imgSizeSample80) + 3%);
  padding: 1.5%;
}
.size90.border05 {
  width: calc(var(--imgSizeSample90) + 3%);
  padding: 1.5%;
}

.border08 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border08 {
  width: calc(var(--imgSizeSample16) + 20%);
  padding: 10%;
}
.size20.border08 {
  width: calc(var(--imgSizeSample20) + 20%);
  padding: 10%;
}
.size24.border08 {
  width: calc(var(--imgSizeSample24) + 20%);
  padding: 10%;
}
.size30.border08 {
  width: calc(var(--imgSizeSample30) + 20%);
  padding: 10%;
}
.size35.border08 {
  width: calc(var(--imgSizeSample35) + 15%);
  padding: 7.5%;
}
.size40.border08 {
  width: calc(var(--imgSizeSample40) + 15%);
  padding: 7.5%;
}
.size50.border08 {
  width: calc(var(--imgSizeSample50) + 15%);
  padding: 7.5%;
}
.size60.border08 {
  width: calc(var(--imgSizeSample60) + 15%);
  padding: 7.5%;
}
.size70.border08 {
  width: calc(var(--imgSizeSample70) + 4.5%);
  padding: 2.25%;
}
.size80.border08 {
  width: calc(var(--imgSizeSample80) + 4.5%);
  padding: 2.25%;
}
.size90.border08 {
  width: calc(var(--imgSizeSample90) + 4.5%);
  padding: 2.25%;
}

.border12 {
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border12 {
  width: calc(var(--imgSizeSample16) + 33%);
  padding: 16.5%;
}
.size20.border12 {
  width: calc(var(--imgSizeSample20) + 33%);
  padding: 16.5%;
}
.size24.border12 {
  width: calc(var(--imgSizeSample24) + 33%);
  padding: 16.5%;
}
.size30.border12 {
  width: calc(var(--imgSizeSample30) + 33%);
  padding: 16.5%;
}
.size35.border12 {
  width: calc(var(--imgSizeSample35) + 20%);
  padding: 10%;
}
.size40.border12 {
  width: calc(var(--imgSizeSample40) + 20%);
  padding: 10%;
}
.size50.border12 {
  width: calc(var(--imgSizeSample50) + 20%);
  padding: 10%;
}
.size60.border12 {
  width: calc(var(--imgSizeSample60) + 20%);
  padding: 10%;
}
.size70.border12 {
  width: calc(var(--imgSizeSample70) + 5.8%);
  padding: 2.9%;
}
.size80.border12 {
  width: calc(var(--imgSizeSample80) + 6%);
  padding: 3%;
}
.size90.border12 {
  width: calc(var(--imgSizeSample90) + 6%);
  padding: 3%;
}

.warning_container {
  background-color: var(--gallery-title-transparency);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: var(--spacing-S);
  padding: var(--spacing-S);
  gap: var(--spacing-S);
}

.warningIcone {
  width: 10rem;
  height: 3rem;
  color: var(--information);
}
