.header {
  position: relative;
  height: 30rem;
}

.heroSection {
  padding-top: var(--spacing-LM);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size-subTitle_03);
}

.hero_title {
  font-family:var( --font-geologica-light);
  font-weight: 300;
}
