.header {
  position: relative;
  height: var(--window-height);
  padding-top: var(--spacing-LM);
}

.bgImg {
  object-fit: cover;
  height: var(--window-height);
  object-position: 50% 10%;

}
.bglight {
  object-position: 50% 20%;
}
