.cart__container {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.cart__lock,
.cartIcone {
  height: var(--icone-S);
  width: var(--icone-S);
  @media only screen and (max-width: 84em) {
    height: var(--icone-XS);
    width: var(--icone-XS);
  }
}

.cartIcone {
  color: var(--font-color-main);
}

.cart__lock {
  color: var(--icones_locked);
  opacity: 0.5;
}

.cartHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-SM);
  gap: var(--spacing-S);
  width: 100%;
}
.majorLink {
  width: 100%;
  height: var(--btnSeclection-height-M);

  border-radius: var(--borderRadiusBtn-very-soft);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--sec-300);
  cursor: pointer;
  transition: all 0.2s;
  background-color: var(--sec-btn);
}

.linkTxt {
  color: var(--neutral-50);
}

.majorLink:hover {
  background-color: var(--prim-700);
}
.cartLink:hover p {
  color: white;
}

.priceDetail {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
}
.totalPrice {
  line-height: var(--font-size-bodyText_01);
}

.redDote {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--prim-700);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.redDote > p {
  line-height: var(--font-size-bodyText_01);
}
.txt {
  color: var(--neutral-50);
}
.cartNav__container {
  background-color: var(--info-bg-n500);
  width: 40rem;
  height: 40rem;
  position: absolute;
  transform: translate(-17rem, 2%);
  padding: var(--spacing-SS);
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
  box-shadow: 0rem 1rem 2rem -1rem var(--shop-dropshadow);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.imgPreview {
  height: 10rem;
  min-width: 10rem;
  object-fit: cover;
}

.cartMainContent {
  margin-bottom: var(--spacing-S);
}

.resume {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-S);
  gap: var(--spacing-S);
  width: calc(40rem - (var(--spacing-S) * 2));
}

.res_Left {
  position: relative;
  width: 100%;
}
.res_head {
  border-bottom: 1px solid var(--link-color-underline);
  max-width: 100%;
  text-transform: lowercase;
  padding-bottom: var(--spacing-XS);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.res_detail {
  color: var(--font-color-gray);
}

.removeBtn {
  background-color: var(--sec-700);
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  color: var(--neutral-50);
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid var(--sec-700);
  transition: all 0.2s;
}
.removeBtn:hover {
  background-color: var(--sec-900);
  cursor: pointer;
  border: 1px solid var(--sec-700);
}

.cartFooter {
  margin-top: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.totalTxt {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
}
