.footer {
  height: var(--footerSize);
  background-color: var(--netral-black);
  padding-top: var(--spacing-M);
  position: relative;
}

.columnsContainer {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: var(--spacing-XL);
}

.left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: stretch;
}

.links__container{
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
align-items: baseline;
justify-items: center;
  gap: var(--spacing-M);
}

.links {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-bodyText_01);
  line-height: var(--line-height-subTitle_03);

  display:flex;
  justify-content: baseline;
  align-items: left;
  flex-direction: column;
  
  color: var(--neutral-50);

}
.footer__columnHead {
  margin-bottom: var(--spacing-S);
}
h2.footer__columnHead {
  color: var(--neutral-50);
}

.footer__Nav {
  line-height: var(--font-size-Title_01);
  text-transform: uppercase;
  font-weight: 200;
}

.red {
  color: var(--prim-500-main);
}
.grey {
  color: var(--netral-200);
}

.footer__btn {
  margin-top: auto;
  align-self: flex-start;
}

.footer__text {
  line-height: var(--line-height-subTitle_03);
  color: var(--neutral-50);
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: var(--spacing-M);
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
  margin-top: var(--spacing-SM);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-50);
}

.txt {
  cursor: default;
}
.utilities_Link{
  padding-top: var(--spacing-S);
}
