.footer {
  height: var(--footerSize);
  background-color: var(--netral-black);
  padding-top: var(--spacing-M);
  position: relative;
  @media only screen and (max-width: 37.5em) {
    height: var(--footerSizeMobile);
  } 
}

.columnsContainer {
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: calc(80% - var(--spacing-S) );
  gap: var(--spacing-XL);
  @media only screen and (max-width: 55em) {
    gap: var(--spacing-L);
  }  
  @media only screen and (max-width: 43.75em) {
    gap: var(--spacing-M);
  }  

  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
    align-items: center;
  }  
}

.left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  height: 100%;

  @media only screen and (max-width: 37.5em) {
    align-items: center;
    gap: 2rem;
    order: 2;
  }  
}

.right{
   height: 100%;
}

.links__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: baseline;
  justify-items: center;
  gap: var(--spacing-M);
  height: 100%;
}

.links {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-bodyText_01);
  line-height: var(--line-height-subTitle_03);

  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  height: calc(80% - var(--spacing-S));

  color: var(--neutral-50);
}

.links > * {
  transition: all 0.2s;
}
.links > *:hover {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
  text-decoration-thickness: 1px;
  text-underline-offset: var(--spacing-XXS);
  transition: all 0.2s;
}
.links > *:active,
.links > *:focus {
  transition: all 0.1s;
  transform: scale(0.95);
}

.footer__columnHead {
  margin-bottom: var(--spacing-S);
  text-align: center;
  font-family: var(--font-geologica-Regular);
  font-size: var(--font-size-subTitle_01);
  letter-spacing: var(--letter-spacing-XS);
}
h2.footer__columnHead {
  color: var(--neutral-50);
}

.footer__Nav {
  line-height: var(--font-size-Title_01);
  font-size: var(--font-size-subTitle_02);
  font-weight: 200;
  border-bottom: 1px solid var(--white-bar);
}

.red {
  color: var(--prim-500-main);
}

.footer__btn {
  margin-top: auto;
  align-self: flex-start;
}

.footer__text {
  line-height: var(--line-height-subTitle_03);
  color: var(--neutral-50);
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: var(--spacing-M);
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
  margin-top: var(--spacing-SM);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-50);
}

.txt {
  cursor: default;
}
.utilities_Link {
  padding-top: var(--spacing-S);
}
