.presentation {
  position: relative;
  z-index: 10;
  max-width: var(--max-width-L);
  padding-inline: var(--padding-inLine);
  margin: auto;
  padding-top: var(--spacing-L);
  height: calc(
    var(--window-height) -
      (var(--padding-vertical) + var(--line-height-Title_01))
  );
  @media only screen and (max-width: 125em) {

    max-width: var(--max-width-M);
  } 

  @media only screen and (max-width: 120em) {
    padding-top: var(--spacing-LM);
  }
  @media only screen and (max-width: 65em) {
    padding-top: var(--spacing-S);
    
  }  
}

.presentation__containeur {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  

  @media only screen and (max-width: 125em) {
    padding-left: 7vw;
  }
  @media only screen and (max-width: 90em) {
    padding-left: 3vw;
  } 
  @media only screen and (max-width: 75em) {
    padding-left: 0vw;
  }
  @media only screen and (max-width: 55em) {
    padding-top: var(--spacing-S);
    padding-left: var(--spacing-LM);
  } 


}
.presentation__main {
  margin-bottom: var(--spacing-XS);

  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-subTitle_01);
  }

}

.presentation__sub {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  padding-right: var(--spacing-LM);
}

.dot {
  width: var(--font-size-bodyText_03);
  height: var(--font-size-bodyText_03);
  background: var(--prim-500-main);
  border-radius: 50%;
}

.presentation__sub_txt {
  letter-spacing: 1px;
}

.img_caption__containeur {
  position: absolute;
  right: var(--padding-inLine);
  text-align: right;
  bottom: calc(var(--padding-vertical) + var(--spacing-LM));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}

.img_caption__left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XS);
}

.img_caption__right {
  border-right: 1px solid var(--font-color-sec);
  height: var(--spacing-L);
}
.img_caption__down p {
  color: var(--font-color-sec);
}

.sec_color_txt {
  color: var(--font-color-body_02);
}
