.presentation {
  position: relative;
  z-index: 10;
  max-width: var(--max-width-L);
  padding-inline: var(--padding-inLine);
  margin: auto;
  padding-top: var(--spacing-L);
  height: calc(
    var(--window-height) -
      (var(--padding-vertical) + var(--line-height-Title_01))
  );
  @media only screen and (max-width: 125em) {
    max-width: var(--max-width-M);
  }

  @media only screen and (max-width: 120em) {
    padding-top: calc(var(--spacing-L) - var(--spacing-S));
  }
  @media only screen and (max-width: 90em){
    
    padding-top: var(--spacing-LM);
  }  

  @media only screen and (max-width: 65em) {
    padding-top: 0;
  }
}

.presentation__containeur {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  padding-left: 7vw;

  @media only screen and (max-width: 65em){
    align-items: center;
    width: 100%;
    padding-left: 0;
    transform: translate(-50%, -50%);

  }
  @media only screen and (max-width: 37.5em){
    padding-top: var(--spacing-M);

  } 

}
.presentation__main {
  margin-bottom: var(--spacing-XS);

  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-subTitle_01);
  }
}

.presentation__sub {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  padding-right: var(--spacing-LM);
  @media only screen and (max-width: 65em){
    padding-right:0;
    align-self: center;
    }
}

.dot {
  width: var(--font-size-bodyText_03);
  height: var(--font-size-bodyText_03);
  background: var(--prim-500-main);
  border-radius: 50%;
}

.presentation__sub_txt {
  letter-spacing: 1px;
}

.img_caption__containeur {
  position: absolute;
  right: var(--padding-inLine);
  text-align: right;
  bottom: calc(var(--padding-vertical) + var(--spacing-LM));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}

.img_caption__left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XS);
}

.img_caption__right {
  border-right: 1px solid var(--font-color-sec);
  height: var(--spacing-L);
}
.img_caption__down p {
  color: var(--font-color-sec);
}

.sec_color_txt {
  color: var(--font-color-body_02);
}
