.myNameLink {
  font-family: var(--font-Lateef-Regular);
  font-size: var(--font-size-Title_01);
  line-height: var(--line-height-Title_01);
  letter-spacing: 3px;
  color: var(--font-color-body_02);
}

.nav {
  position: relative;
  padding-top: var(--padding-vertical);
  padding-inline: var(--padding-inLine);
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  align-items: center;
  max-width: var(--maxWidth);
  margin: auto;
  z-index: 100;
}

.links {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-subTitle_02);

  display: flex;
  align-items: center;
  gap: var(--spacing-LM);
}

.link {
  transition: all 0.2s;
  color: var(--font-color-main);
}

.link:hover,
.link:focus {
  text-decoration: underline;
  transition: all 0.2s;
  transform: scale(1.05);
  transform-origin: bottom;
}
