.myNameLink {
  line-height: var(--line-height-Title_02);
  letter-spacing: var(--letter-spacing-XS);
  
}

.myNameLink,
.link {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-subTitle_01);
  transition: all var(--transi-time-S);
  color: var(--font-color-main);
  @media only screen and (max-width: 84em){
    font-size: var(--font-size-subTitle_02);
  } 
}

.nav {
  padding-top: var(--padding-vertical);

  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  left: 0;
  top: 0rem;
  transition: all 0.3s;
  position: absolute;
  background: linear-gradient(
    180deg,
    var(--bg-nav-transparency-start_init) 10%,
    var(--bg-nav-transparency-end_init) 100%
  );

  @media only screen and (max-width: 65em) {
    display: none;
  }
}

.nav__items {
  opacity: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
  max-width: var(--max-width-L);
  padding-inline: var(--padding-inLine);

  @media only screen and (max-width: 125em) {
    max-width: var(--max-width-M);
  }
}

.nav_init {
  top: 0rem;
}

.nav_unfixed {
  top: -10rem;
  position: fixed;
  background: linear-gradient(
    180deg,
    var(--bg-nav-transparency-start) 50%,
    var(--bg-nav-transparency-end) 100%
  );
  transition: all var(--transi-time-S);
}

.nav_fixed {
  top: 0rem;
  padding-bottom: var(--spacing-S);
  position: fixed;
  background: linear-gradient(
    180deg,
    var(--bg-nav-transparency-start) 80%,
    var(--bg-nav-transparency-end) 100%
  );
  transition: all var(--transi-time-S);
  backdrop-filter: blur(10px) brightness(110%);
}

.links_fullSize {
  display: flex;
  align-items: center;
  gap: var(--spacing-LM);
  
  @media only screen and (max-width: 84em){
    gap: var(--spacing-M);
  } 

  @media only screen and (max-width: 65em) {
    display: none;
  }
}

.link {
  font-family: var(--font-geologica-Cursive-Regular);
  letter-spacing: var(--letter-spacing-S);
  @media only screen and (max-width: 84em){
    font-size: var(--font-size-subTitle_02);
  } 

}

.myNameLink:hover,
.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
  text-decoration-thickness: 2px;
  text-underline-offset: var(--spacing-XXS);
  transition: all 0.2s;
  transform-origin: bottom;
}

.myNameLink:active,
.myNameLink:focus,
.link:active,
.link:focus {
  transition: all 0.1s;
  text-decoration-color: var(--prim-500-main);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-M);
  @media only screen and (max-width: 71em) {
    gap: var(--spacing-S);
  }
}

.currPage {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
}
