/* .actions */
.smallScreenNav {
  @media only screen and (min-width: 65em) {
    display: none;
  }
}

.nav_SmallScreen {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  z-index: 930;
  @media only screen and (max-width: 37.5em) {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.left_sSize {
  grid-column: 1/3;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1009;
  position: relative;
}
.right_sSize {
  grid-column: 3/4;
  background-color: var(--bg-transparency-smallScreen);
  z-index: 900;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) brightness(var(--bg-p1-brightness));
}

.icone_SmallScreen_menu,
.icone_SmallScreen_close {
  position: fixed;
  right: 5vw;
  top: 2rem;
  color: var(--font-color-main);
  width: var(--icone-S);
  height: var(--icone-S);
  z-index: 940;
  transition: all 0.3s;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--bg-nav-smallScreenIcone);
  border: 1px solid var(--border-menu);
  backdrop-filter: blur(10px);

  @media only screen and (min-width: 65em) {
    display: none;
  }
}

.icone_SmallScreen_close {
  border: 2px solid var(--font-color-main);
}

.links_smallSize {
  @media only screen and (max-width: 65em) {
    font-family: var(--font-geologica-Cursive-Regular);
    font-size: var(--font-size-subTitle_02);
    color: var(--font-color-main);

    display: flex;
    align-items: center;
    gap: var(--spacing-LM);

    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    justify-content: center;
  }
}

.translateOut {
  transform: translateX(100%);
}

.smallScreenTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 920;

  width: calc(100vw - 8rem);
  height: 10rem;
  padding-inline: var(--padding-inLine);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-M);
  padding-right: var(--spacing-SS);
}

.myNameLink {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-subTitle_02);
  line-height: var(--line-height-Title_01);
  letter-spacing: var(--letter-spacing-XS);
  color: var(--font-color-main);
  transition: all 0.2s;
}

.theme_container {
  width: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s;
}
.theme_txt {
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 0;
  left: 50%;
  user-select: none;
  transform: translate(-50%, 50%);
  opacity: 100;
  transition: all 0.2s;
  font-size: var(--font-size-bodyText_03);
}

.cta__btn {
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}

.currPage {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
}

.cartLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-SS);
}
