.icone {
  height: 5rem;
  width: 5rem;
  color: var(--font-color-main);
}

.icone:hover,
.icone:focus {
  color: var(--font-color-gray);
  cursor: pointer;
}

.icone__container {
  position: relative;
}

.icone__txt {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
