/* 
btn_selector
img_fixed
*/

.fram__content__container {
  
  max-width: var(--max-width-ML);
  padding-inline: var(--padding-vertical);
  width: 100%;
  display: grid;
  grid-template-columns: 45rem 1fr;
  grid-template-rows: auto;
  align-items: baseline;
  justify-items: center;
  margin-bottom: var(--spacing-M);
  position: relative;
  height: 100%;

  @media only screen and (max-width: 125em) {
    max-width: var(--max-width-MM);
  }

  @media only screen and (max-width: 77em) {
    grid-template-columns: 45rem 1fr;
  }
  @media only screen and (max-width: 50em) {
    grid-template-columns: 30rem 1fr;
  }
  @media only screen and (max-height: 50em) {
    grid-template-columns: 30rem 1fr;
  }

  @media only screen and (max-width: 41.25em) {
    grid-template-columns: 1fr;
    grid-template-rows: 45rem 1fr;
  }
}

.fram__content__left {
  align-self: baseline;
  justify-self: baseline;
  position: relative;
  max-width: 40rem;
  width: 50vw;
  height: 100%;
  padding-top: var(--spacing-M);
  margin-right: var(--spacing-L);
  justify-self: right;
  
  

  @media only screen and (max-width: 84em) {
    margin-right: var(--spacing-M);
  }

  @media only screen and (max-width: 71em) {
    margin-right: var(--spacing-S);
  }

  @media only screen and (max-width: 41.25em) {
    justify-self: center;
    margin-right: none;
    width: 100%;
    z-index: 900;
  }
}
.fram__content__right {
  
  align-self: baseline;
  justify-self: baseline;
  width: 100%;
  max-width: 60vw;
  height: 100%;
  z-index: 100;

  @media only screen and (max-width: 90em) {
    max-width: 70vw;
  }
  @media only screen and (max-width: 41.25em) {
    max-width: 100vw;
  }
}

.box_title {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-subTitle_02);
  letter-spacing: var(--letter-spacing-XS);
}
.box_title_first {
  padding-bottom: var(--spacing-XXS);
}

.img__wall {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
  @media only screen and (max-width: 50em) {
    margin-top: 0rem;
    transform: scale(0.5) translate(25%, 0%);
  }
  @media only screen and (max-height: 50em) {
    margin-top: 0rem;
    transform: scale(0.5) translate(25%, 0%);
  }
  @media only screen and (max-width: 41.25em) {
    margin-top: 0rem;
    transform: scale(0.85) translate(0%, -10%);
  }
}
/*  TO Fix */
.mokeup_container {
  @media only screen and (max-width: 50em) {
    /* max-width: 25rem; */
    transform: scale(0.5) translate(25%, 0%);
  }
  @media only screen and (max-height: 50em) {
    /* max-width: 25rem; */
    transform: scale(0.5) translate(25%, 0%);
  }


  @media only screen and (max-width: 41.25em) {
    margin-top: 0rem;
    transform: scale(0.85) translate(0%, -10%);
  }
}
.backgroundMobile {
  position: absolute;
  top: -100%;
  left: -100%;
  backdrop-filter: blur(3px);
  background: linear-gradient(
    180deg,
    var(--background-color) 98%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 400vw;
  height: 185%;
}

.img_container {
  position: fixed;
  bottom: 12vh;
  width: 100vw;
  max-width: 40rem;
  height: min-content;
  transition: bottom 0.2s;
  @media only screen and (max-width: 41.25em) {
    transition: top 0.15s;
    top:10rem;
  }

}

/* .fram__content__left:has(.img_fixed) {
  position: absolute;
} */
/* TO FIX */
.img_fixed.img_container {
  position: absolute;
  bottom: 100px;
  align-self: flex-end;
  justify-self: last baseline;
  transition: bottom 0.2s;
}
.img_smallFixed.img_container {
  margin-top: var(--spacing-XS);
  height: 40rem;
  top: -20vh;
  
}
.img_smallFixed .mokeup_container {
  transform: scale(0.4) translate(0%, 30%);
}
.img_smallFixed .img__wall {
  transform: scale(0.4) translate(0%, 30%);
}

.suggestedTxt {
  position: absolute;
  top: -2.8rem;
  left: 0;
  z-index: 410;
  opacity: 0.7;
  @media only screen and (max-width: 50em) {
    top: 10rem;
    left: 15rem;
  }
  @media only screen and (max-height: 50em) {
    top: 10rem;
    left: 15rem;
  }
  @media only screen and (max-width: 41.25em) {
    top: -3rem;
    left: 3rem;
  }
}

.img_smallFixed .suggestedTxt {
  z-index: 920;
  top: 19.5rem;
  left: 12rem;

  width: 90rem;
}

.suggestedTxt_mob {
  position: absolute;
  top: -2.8rem;
  left: 0;
  z-index: 920;
  opacity: 0.7;
}

.txtEnlarge {
  font-size: var(--font-size-subTitle_03);
  color: var(--neutral-50);
}

.img_smallFixed .backgroundMobile {
  height: 215%;
}

.imageEnlarger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-transparency-darker);
  backdrop-filter: blur(3px);
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mokeup_container_enlarge {
  position: relative;
  width: 40rem;
}
.img__selected_enlarged {
  height: auto;
  object-fit: contain;
  position: absolute;
  z-index: 910;
  top: 12rem;
  left: 50%;
  padding: 0px;
  transform: translate(-50%, -50%);
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.664);
  outline-width: 0;
}
.iconeEnlarge {
  position: absolute;
  right: 0;
  top: -4rem;
}

.select_container {
  background-color: var(--bg-txt-multiplier);
  width: 100%;
  height: max-content;
  border-radius: 1rem;
  padding: var(--spacing-SS);
  position: relative;
  overflow: hidden;
}
.totalPrice {
  position: absolute;
  bottom: calc((var(--font-size-Title_02) + var(--spacing-SS)) * -1);
  right: 0;
  z-index: 410;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
  @media only screen and (max-width: 55em) {
    bottom: calc((var(--font-size-Title_02) + var(--spacing-S)) * -1);
  }
  @media only screen and (max-width: 50em) {
    bottom: 0;
    flex-direction: column;
    align-items: flex-end;
    right: 5rem;
  }
  @media only screen and (max-height: 50em) {
    bottom: 0;
    flex-direction: column;
    align-items: flex-end;
    right: 0rem;
  }
  @media only screen and (max-width: 41.25em) {
    align-items: flex-start;
    bottom: 6rem;
    right: 2.4rem;
    gap: var(--spacing-SS);

  }
}

.img_smallFixed .totalPrice {
  bottom: -4.4rem;
  right: 0rem;
  gap: calc(var(--spacing-S) + 0.7rem);
  align-items: flex-start;
}

.img {
  width: 14rem;
  height: auto;
  position: relative;
  object-fit: contain;
  z-index: 100;
  mix-blend-mode: normal;
}

.currentSelectedImg {
  outline: 2px solid var(--prim-500-main);
}

.img__selected {
  height: auto;
  object-fit: contain;
  position: absolute;
  z-index: 300;
  top: 12rem;
  left: 50%;
  padding: 0px;
  transform: translate(-50%, -50%);
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.664);
  outline-width: 0;
  /* @media only screen and (max-width: 50em) {
    top: 2rem;
    transform: scale(0.7);
    left: 30%;
  } */
  @media only screen and (max-width: 41.25em) {
    z-index: 910;
  }
}

.img__mokeup {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  aspect-ratio: 0.75;
}

.imgs_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-SS);
}

.imgPrev {
  list-style: none;
}

.smallHR {
  width: 100%;
  border-color: var(--font-color-gray);
}
.other_text {
  width: 150%;
  text-align: center;
  color: var(--font-color-gray);
}
.title_text {
  text-align: left;
  color: var(--font-color-main);
  line-height: var(--line-height-subTitle_03);
}

.productName {
  font-size: var(--font-size-subTitle_03);
}
.section_desc {
  margin-top: var(--spacing-S);
  margin-bottom: var(--spacing-SS);
}

.shortDescrition {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-S);
}

.fram_module {
  margin-top: var(--spacing-M);
  position: relative;
}

.recommandation_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
  padding-top: var(--spacing-M);
  margin-bottom: var(--spacing-M);
}
.section_title {
  width: 100%;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}

.frames_solutions {
  margin-top: var(--spacing-XS);
  margin-bottom: var(--spacing-M);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-S);
  margin-inline: 3vw;
  @media only screen and (max-width: 71em) {
    justify-content: center;
  }
}

.sec_addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: var(--spacing-S);
}

.btn_selector {
  border: none;
  outline: none;
  width: var(--btnSeclection-width);
  height: var(--btnSeclection-height);

  padding-inline: var(--spacing-S);
  border-radius: var(--borderRadiusBtn-soft);
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
  font-size: var(--font-size-bodyText_01);
  font-family: var(--font-geologica-light);
  line-height: var(--line-height-body_01);
  text-transform: capitalize;

  @media only screen and (max-width: 55em) {
    border-radius: 1rem;
    width: 20rem;
    height: 7rem;
  }
  @media only screen and (max-width: 50em) {
    width: 16rem;
    height: 9rem;
  }
}

.btn_selector:disabled {
  background-color: var(--netral-500);
  opacity: 0.6;
}
.btn_selector_lower {
  text-transform: lowercase;
}

.cart__quantity {
  font-size: var(--font-size-bodyText_01);
}

.btn_addToCart_complet {
  width: var(--btnSeclection-width);
  background-color: var(--prim-900);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 41.25em) {
    width: 15rem;
    display: none;
  }
}
.btn_addToCart:hover,
.btn_addToCart:active,
.btn_addToCartv2:hover,
.btn_addToCartv2:active {
  background-color: var(--prim-700);
  cursor: pointer;
}

.btn_addToCart {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  @media only screen and (max-width: 41.25em) {
    height: 5rem;
  }
}
.btn_addToCartv2 {
  background-color: var(--prim-900);
  border: none;
  outline: none;
  width: 100%;
  height: var(--btnSeclection-height);
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-radius: 1rem;
}

.btn_goToCartv2 {
  background-color: var(--sec-900);
  border: none;
  outline: none;
  min-width: 20rem;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-radius: 1rem;
}
.btn_goToCartv2_floater {
  @media only screen and (max-width: 41.25em) {
    display: none;
  }
}

.btn_goToCartv2:hover,
.btn_goToCartv2:active {
  background-color: var(--sec-700);
  cursor: pointer;
}

.right__btns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn__symbs {
  border: none;
  outline: none;
  width: 4rem;
  border-left: 1px solid var(--netral-200);
  background-color: var(--prim-900);
}
.btn__symbs__top {
  border-top-right-radius: 1rem;
}
.btn__symbs__bot {
  border-top: 1px solid var(--netral-200);
  border-bottom-right-radius: 1rem;
}

.btn__symbs:hover {
  background-color: var(--prim-700);
  cursor: pointer;
}

.btn_reset {
  border: none;
  outline: none;
  width: 12rem;
  padding-inline: var(--spacing-SS);
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
}
.btn_reset:disabled {
  background-color: var(--netral-500);
  transition: all 0.1s;
  color: var(--sec-50);
  opacity: 0.6;
}
.btn_reset:hover:disabled {
  cursor: not-allowed;
}

.btn_selector:not(:disabled):hover,
.btn_selector:not(:disabled):active,
.btn_reset:hover:not(:disabled),
.btn_reset:active:not(:disabled) {
  background-color: var(--prim-900);
  cursor: pointer;
}

.btn_selector:hover:disabled,
.btn_reset:hover:disabled {
  cursor: not-allowed;
}

.btn_information {
  border: none;
  outline: none;

  min-width: var(--btnSeclection-width);
  height: var(--btnSeclection-height);
  padding-inline: var(--spacing-SS);

  border-radius: var(--borderRadiusBtn-soft);
  background-color: transparent;
  transition: all 0.1s;
  color: var(--font-color-main);
  border: 2px solid var(--sec-900);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  gap: var(--spacing-XS);
  @media only screen and (max-width: 57em) {
    height: 7rem;
  }
}

.more_infoText {
  font-size: var(--font-size-bodyText_02);
  line-height: var(--line-height-body_02);
}

.btn_information:hover {
  background-color: var(--bg-txt-transparency);
  border: 2px solid var(--information);
  cursor: pointer;
}

.miniIcone {
  width: var(--icone-XS);
  height: var(--icone-XS);
  color: var(--neutral-50);
}
.neural-50 {
  color: var(--neutral-50);
}

.insideBtnIcone {
  min-width: 4rem;
  width: var(--icone-XS);
  height: var(--icone-XS);
  color: var(--font-color-main);
}
.selectedFrame {
  background-color: var(--prim-700);
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--spacing-XXS);
}
.titleInfoBar {
  position: relative;
  width: 100%;
}

.iconeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  width: 3rem;
}

.icone {
  width: 3rem;
  height: 3rem;
  color: var(--icones);
  cursor: pointer;
  transition: all 0.2s;
  z-index: 300;
}

.icone:hover {
  transform: scale(1.1);
  color: var(--prim-300);
}

.iconeClose {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 0;
  top: -5rem;
}

.iconeDesc {
  font-size: var(--font-size-bodyText_02);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
.icone:hover ~ .iconeDesc {
  transform: translate(25%, -50%);
  opacity: 100;
}

.infoBox {
  background-color: var(--info-bg-n500);
  width: 50%;
  height: 100%;
  z-index: 970;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-S);
  gap: var(--spacing-S);
  opacity: 0;
  box-shadow: 0rem 2rem 2rem var(--shop-dropshadow);
}
.infoBox > p {
  font-size: var(--font-size-subTitle_03);
  line-height: var(--line-height-subTitle_03);
}

.slideIn {
  transform: translateX(0%);
  opacity: 100;
  @media only screen and (max-width: 62.5em) {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-transparency-darker);
    backdrop-filter: blur(3px);
  }
  @media only screen and (max-width: 41.25em) {
    width: 100%;
    height: 80%;
    margin-top: 40%;
  }
}

.infoBox .icone {
  align-self: flex-end;
}

.smallFrame {
  outline: 2px solid var(--black-Oak);
}
.passePartout {
  outline: 10px solid var(--black-Oak);
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.passSizeSmall {
  width: 73%;
  padding: 6px;
}
.passSizeBig {
  width: 85%;
  padding: 30px;
}
.blackPass {
  background-color: #222222;
}

.galleryFrame {
  outline: 10px solid var(--black-Oak);
  padding: 0px;
  width: 70%;
}
.artbox {
  outline: 5px solid var(--alder-Brown);
  padding: 0px;
  width: 70%;
}
.floater {
  outline: solid 10px var(--alder-Brown);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 71%;
  margin: auto;
  padding: 3px;
}

.alderBrown {
  outline-color: var(--alder-Brown);
}
.blackOak {
  outline-color: var(--black-Oak);
}
.naturalOak {
  outline-color: var(--natural-Oak);
}
.mapleWhite {
  outline-color: var(--maple-White);
}

/* .bigFrame {
  outline-width: 20px;
}
.smallFrame {
  outline-width: 10px;
} */
.woodDot {
  width: var(--font-size-subTitle_02);
  height: var(--font-size-subTitle_02);
  border-radius: 50%;
  border: 2px solid var(--netral-900);
}

.btn_selector__colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}

.enlargeBtn {
  display: none;

  @media only screen and (max-width: 50em) {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-SS);
    position: absolute;
    right: 5rem;
    top: 35rem;
    background-color: var(--netral-700-transparent);
    width: 20rem;
    height: 5rem;
    z-index: 910;
  }
  @media only screen and (max-width: 41.25em) {
    right: 7.3%;
    top: 39.9rem;
    width: 34.15rem;
  }
}
.img_smallFixed .enlargeBtn {
  @media only screen and (max-width: 41.25em) {
    top: 39rem;
    right: 29.4%;
    width: 16.3rem;
  }
}
.enlargeIcone {
  color: var(--sec-300);
}
.size16 {
  width: var(--imgSizeSample16);
}
.size20 {
  width: var(--imgSizeSample20);
}
.size24 {
  width: var(--imgSizeSample24);
}
.size30 {
  width: var(--imgSizeSample30);
}
.size35 {
  width: var(--imgSizeSample35);
}
.size40 {
  width: var(--imgSizeSample40);
}
.size50 {
  width: var(--imgSizeSample50);
}
.size60 {
  width: var(--imgSizeSample60);
}
.size70 {
  width: var(--imgSizeSample70);
}
.size80 {
  width: var(--imgSizeSample80);
}
.size90 {
  width: var(--imgSizeSample90);
}
.sizeStd {
  width: var(--imgSizeSampleStd);
}

.size16,
.size20,
.size24 {
  top: 14rem;
  left: 40%;

  /* @media only screen and (max-width: 50em){
    top: 4rem;
    left: 20%;
  }   */
}
.size60,
.size70,
.size80,
.size90,
.sizeStd {
  top: 9rem;
  /* @media only screen and (max-width: 50em){
    top: 3rem;
    left: 33%;
  }   */
}

.border01 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border01 {
  width: calc(var(--imgSizeSample16) + 2.6%);
  padding: 1.3%;
}
.size20.border01 {
  width: calc(var(--imgSizeSample20) + 2.6%);
  padding: 1.3%;
}
.size24.border01 {
  width: calc(var(--imgSizeSample24) + 2.6%);
  padding: 1.3%;
}
.size30.border01 {
  width: calc(var(--imgSizeSample30) + 1.7%);
  padding: 0.85%;
}
.size35.border01 {
  width: calc(var(--imgSizeSample35) + 1.7%);
  padding: 0.85%;
}
.size40.border01 {
  width: calc(var(--imgSizeSample40) + 1.7%);
  padding: 0.85%;
}
.size50.border01 {
  width: calc(var(--imgSizeSample50) + 1.7%);
  padding: 0.85%;
}
.size60.border01 {
  width: calc(var(--imgSizeSample60) + 0.5%);
  padding: 0.25%;
}
.size70.border01 {
  width: calc(var(--imgSizeSample70) + 0.5%);
  padding: 0.25%;
}
.size80.border01 {
  width: calc(var(--imgSizeSample80) + 0.5%);
  padding: 0.25%;
}
.size90.border01 {
  width: calc(var(--imgSizeSample90) + 0.5%);
  padding: 0.25%;
}

.border02 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border02 {
  width: calc(var(--imgSizeSample16) + 5.4%);
  padding: 2.7%;
}
.size20.border02 {
  width: calc(var(--imgSizeSample20) + 5.4%);
  padding: 2.7%;
}
.size24.border02 {
  width: calc(var(--imgSizeSample24) + 5.4%);
  padding: 2.7%;
}
.size30.border02 {
  width: calc(var(--imgSizeSample30) + 3.3%);
  padding: 1.65%;
}
.size35.border02 {
  width: calc(var(--imgSizeSample35) + 3.3%);
  padding: 1.65%;
}
.size40.border02 {
  width: calc(var(--imgSizeSample40) + 3.3%);
  padding: 1.65%;
}
.size50.border02 {
  width: calc(var(--imgSizeSample50) + 3.3%);
  padding: 1.65%;
}
.size60.border02 {
  width: calc(var(--imgSizeSample60) + 1%);
  padding: 0.5%;
}
.size70.border02 {
  width: calc(var(--imgSizeSample70) + 1%);
  padding: 0.5%;
}
.size80.border02 {
  width: calc(var(--imgSizeSample80) + 1%);
  padding: 0.5%;
}
.size90.border02 {
  width: calc(var(--imgSizeSample90) + 1%);
  padding: 0.5%;
}

.border03 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border03 {
  width: calc(var(--imgSizeSample16) + 8%);
  padding: 4%;
}
.size20.border03 {
  width: calc(var(--imgSizeSample20) + 8%);
  padding: 4%;
}
.size24.border03 {
  width: calc(var(--imgSizeSample24) + 8%);
  padding: 4%;
}
.size30.border03 {
  width: calc(var(--imgSizeSample30) + 5%);
  padding: 2.5%;
}
.size35.border03 {
  width: calc(var(--imgSizeSample35) + 5%);
  padding: 2.5%;
}
.size40.border03 {
  width: calc(var(--imgSizeSample40) + 5%);
  padding: 2.5%;
}
.size50.border03 {
  width: calc(var(--imgSizeSample50) + 5%);
  padding: 2.5%;
}
.size60.border03 {
  width: calc(var(--imgSizeSample60) + 1.5%);
  padding: 0.75%;
}
.size70.border03 {
  width: calc(var(--imgSizeSample70) + 1.5%);
  padding: 0.75%;
}
.size80.border03 {
  width: calc(var(--imgSizeSample80) + 1.5%);
  padding: 0.75%;
}
.size90.border03 {
  width: calc(var(--imgSizeSample90) + 1.5%);
  padding: 0.75%;
}

.border05 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border05 {
  width: calc(var(--imgSizeSample16) + 16%);
  padding: 8%;
}
.size20.border05 {
  width: calc(var(--imgSizeSample20) + 16%);
  padding: 8%;
}
.size24.border05 {
  width: calc(var(--imgSizeSample24) + 16%);
  padding: 8%;
}
.size30.border05 {
  width: calc(var(--imgSizeSample30) + 10%);
  padding: 5%;
}
.size35.border05 {
  width: calc(var(--imgSizeSample35) + 10%);
  padding: 5%;
}
.size40.border05 {
  width: calc(var(--imgSizeSample40) + 10%);
  padding: 5%;
}
.size50.border05 {
  width: calc(var(--imgSizeSample50) + 10%);
  padding: 5%;
}
.size60.border05 {
  width: calc(var(--imgSizeSample60) + 3%);
  padding: 1.5%;
}
.size70.border05 {
  width: calc(var(--imgSizeSample70) + 3%);
  padding: 1.5%;
}
.size80.border05 {
  width: calc(var(--imgSizeSample80) + 3%);
  padding: 1.5%;
}
.size90.border05 {
  width: calc(var(--imgSizeSample90) + 3%);
  padding: 1.5%;
}

.border08 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border08 {
  width: calc(var(--imgSizeSample16) + 20%);
  padding: 10%;
}
.size20.border08 {
  width: calc(var(--imgSizeSample20) + 20%);
  padding: 10%;
}
.size24.border08 {
  width: calc(var(--imgSizeSample24) + 20%);
  padding: 10%;
}
.size30.border08 {
  width: calc(var(--imgSizeSample30) + 15%);
  padding: 7.5%;
}
.size35.border08 {
  width: calc(var(--imgSizeSample35) + 15%);
  padding: 7.5%;
}
.size40.border08 {
  width: calc(var(--imgSizeSample40) + 15%);
  padding: 7.5%;
}
.size50.border08 {
  width: calc(var(--imgSizeSample50) + 15%);
  padding: 7.5%;
}
.size60.border08 {
  width: calc(var(--imgSizeSample60) + 4.5%);
  padding: 2.25%;
}
.size70.border08 {
  width: calc(var(--imgSizeSample70) + 4.5%);
  padding: 2.25%;
}
.size80.border08 {
  width: calc(var(--imgSizeSample80) + 4.5%);
  padding: 2.25%;
}
.size90.border08 {
  width: calc(var(--imgSizeSample90) + 4.5%);
  padding: 2.25%;
}

.border12 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border12 {
  width: calc(var(--imgSizeSample16) + 30%);
  padding: 15%;
}
.size20.border12 {
  width: calc(var(--imgSizeSample20) + 30%);
  padding: 15%;
}
.size24.border12 {
  width: calc(var(--imgSizeSample24) + 30%);
  padding: 15%;
}
.size30.border12 {
  width: calc(var(--imgSizeSample30) + 20%);
  padding: 10%;
}
.size35.border12 {
  width: calc(var(--imgSizeSample35) + 20%);
  padding: 10%;
}
.size40.border12 {
  width: calc(var(--imgSizeSample40) + 20%);
  padding: 10%;
}
.size50.border12 {
  width: calc(var(--imgSizeSample50) + 20%);
  padding: 10%;
  top: 13rem;
  left: 55%;
}
.size60.border12 {
  width: calc(var(--imgSizeSample60) + 6%);
  padding: 3%;
}
.size70.border12 {
  width: calc(var(--imgSizeSample70) + 6%);
  padding: 3%;
}
.size80.border12 {
  width: calc(var(--imgSizeSample80) + 6%);
  padding: 3%;
}
.size90.border12 {
  width: calc(var(--imgSizeSample90) + 6%);
  padding: 3%;
}

.size16.border15 {
  width: calc(var(--imgSizeSample16) + 38%);
  padding: 19%;
}
.size20.border15 {
  width: calc(var(--imgSizeSample20) + 38%);
  padding: 19%;
}
.size24.border15 {
  width: calc(var(--imgSizeSample24) + 38%);
  padding: 19%;
}
.size30.border15 {
  width: calc(var(--imgSizeSample30) + 25%);
  padding: 12.5%;
}
.size35.border15 {
  width: calc(var(--imgSizeSample35) + 25%);
  padding: 12.5%;
}
.size40.border15 {
  width: calc(var(--imgSizeSample40) + 25%);
  padding: 12.5%;
}
.size50.border15 {
  width: calc(var(--imgSizeSample50) + 25%);
  padding: 12.5%;
  top: 13rem;
  left: 55%;
}
.size60.border15 {
  width: calc(var(--imgSizeSample60) + 7.5%);
  padding: 3.75%;
}
.size70.border15 {
  width: calc(var(--imgSizeSample70) + 7.5%);
  padding: 3.75%;
}
.size80.border15 {
  width: calc(var(--imgSizeSample80) + 7.5%);
  padding: 3.75%;
}
.size90.border15 {
  width: calc(var(--imgSizeSample90) + 7.5%);
  padding: 3.75%;
}

.size16.artboxFrame {
  outline-width: 3px;
}
.size20.artboxFrame {
  outline-width: 3px;
}
.size24.artboxFrame {
  outline-width: 3px;
}
.size30.artboxFrame {
  outline-width: 2px;
}
.size35.artboxFrame {
  outline-width: 2px;
}
.size40.artboxFrame {
  outline-width: 2px;
}
.size50.artboxFrame {
  outline-width: 2px;
}
.size60.artboxFrame {
  outline-width: 1px;
}
.size70.artboxFrame {
  outline-width: 1px;
}
.size80.artboxFrame {
  outline-width: 1px;
}
.size90.artboxFrame {
  outline-width: 1px;
}

.size16.stdFloaterFrame {
  outline-width: 8.5px;
}
.size20.stdFloaterFrame {
  outline-width: 8.5px;
}
.size24.stdFloaterFrame {
  outline-width: 8.5px;
}
.size30.stdFloaterFrame {
  outline-width: 4.5px;
}
.size35.stdFloaterFrame {
  outline-width: 4.5px;
}
.size40.stdFloaterFrame {
  outline-width: 4.5px;
}
.size50.stdFloaterFrame {
  outline-width: 4.5px;
}
.size60.stdFloaterFrame {
  outline-width: 1.5px;
}
.size70.stdFloaterFrame {
  outline-width: 1.5px;
}
.size80.stdFloaterFrame {
  outline-width: 1.5px;
}
.size90.stdFloaterFrame {
  outline-width: 1.5px;
}

.size16.bigFloaterFrame {
  outline-width: 17px;
}
.size20.bigFloaterFrame {
  outline-width: 17px;
}
.size24.bigFloaterFrame {
  outline-width: 17px;
}
.size30.bigFloaterFrame {
  outline-width: 9px;
}
.size35.bigFloaterFrame {
  outline-width: 9px;
}
.size40.bigFloaterFrame {
  outline-width: 9px;
}
.size50.bigFloaterFrame {
  outline-width: 9px;
}
.size60.bigFloaterFrame {
  outline-width: 3px;
}
.size70.bigFloaterFrame {
  outline-width: 3px;
}
.size80.bigFloaterFrame {
  outline-width: 3px;
}
.size90.bigFloaterFrame {
  outline-width: 3px;
}

.size16.smallFrame {
  outline-width: 12px;
}
.size20.smallFrame {
  outline-width: 12px;
}
.size24.smallFrame {
  outline-width: 12px;
}
.size30.smallFrame {
  outline-width: 8px;
}
.size35.smallFrame {
  outline-width: 8px;
}
.size40.smallFrame {
  outline-width: 8px;
}
.size50.smallFrame {
  outline-width: 7px;
}
.size60.smallFrame {
  outline-width: 3px;
}
.size70.smallFrame {
  outline-width: 3px;
}
.size80.smallFrame {
  outline-width: 3px;
}
.size90.smallFrame {
  outline-width: 3px;
}

.size16.bigFrame {
  outline-width: 24px;
}
.size20.bigFrame {
  outline-width: 24px;
}
.size24.bigFrame {
  outline-width: 24px;
}
.size30.bigFrame {
  outline-width: 16px;
}
.size35.bigFrame {
  outline-width: 16px;
}
.size40.bigFrame {
  outline-width: 16px;
}
.size50.bigFrame {
  outline-width: 16px;
}
.size60.bigFrame {
  outline-width: 6px;
}
.size70.bigFrame {
  outline-width: 6px;
}
.size80.bigFrame {
  outline-width: 6px;
}
.size90.bigFrame {
  outline-width: 6px;
}

/* .passSizeSmall {
  width: 73%;
  padding: 6px;
}
.passSizeBig {
  width: 85%;
  padding: 30px;
} */

.warning_container {
  background-color: var(--shop-info-transparency);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: var(--spacing-S);
  padding: var(--spacing-S);
  gap: var(--spacing-S);
}
.sec_info {
  background-color: var(--shop-info-transparency);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  padding: var(--spacing-SS);
  border-radius: var(--borderRadiusBtn-very-soft);
  width: 100%;
  gap: var(--spacing-XS);
  cursor: default;
}
.info_icone {
  min-width: 4rem;
  width: var(--icone-XS);
  height: var(--icone-XS);
}

.warningIcone {
  width: 10rem;
  height: 3rem;
  color: var(--information);
}

.neural_50 {
  color: var(--neutral-50);
}
