/* 
img__wall
*/

.fram__content__container {
  position: relative;
  max-width: var(--max-width-L);

  padding-inline: var(--padding-inLine);
  width: 100%;
  /* height: 100%; */
  display: grid;

  grid-template-columns: 45rem 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: stretch;

  gap: var(--spacing-S);
  margin-bottom: var(--spacing-M);

  @media only screen and (max-width: 125em) {
    max-width: var(--max-width-M);
  }

  @media only screen and (max-width: 84em) {
    grid-template-columns: 35rem 1fr;
  }
  @media only screen and (max-height: 65em) {
    grid-template-columns: 35rem 1fr;
  }

  @media only screen and (max-width: 71em) {
    grid-template-columns: 30rem 1fr;
  }
  @media only screen and (max-height: 53em) {
    grid-template-columns: 30rem 1fr;
  }

  @media only screen and (max-width: 43.75em) {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 45rem 1fr;
  }
}

.fram__content__left {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  width: 100%;
  height: auto;

  align-self: stretch;
  @media only screen and (max-width: 71em) {
    margin-right: var(--spacing-S);
  }

  @media only screen and (max-width: 43.75em) {
    margin-right: 0;
    justify-self: center;
    margin-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
  }
}

.fram__content__right {
  width: 100%;

  height: 100%;
  z-index: 100;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  background-color: var(--shop-right-transparency);
  padding: var(--spacing-S);
  border-radius: var(--borderRadiusBtn-very-soft);
  scrollbar-width: none;

  @media only screen and (max-width: 90em) {
    max-width: 70vw;
  }
  @media only screen and (max-width: 43.75em) {
    max-width: 100vw;
  }
}

.img_container {
  position: sticky;

  top: 12.8rem;
  z-index: 200;
  max-height: 60rem;

  @media only screen and (max-width: 43.75em) {
    position: fixed;
    top: 0rem;
    padding-top: 8rem;
    height: 51rem;
    width: 100vw;

    background: linear-gradient(
      180deg,
      var(--background-color) 98%,
      rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: var(--spacing-S);
  }

  @media only screen and (max-width: 30em) {
    gap: var(--spacing-XS);
  }
}

.img__wall {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 0.75;

  @media only screen and (max-width: 43.75em) {
    height: 90%;
    width: auto;
  }
}
.mokeup_container {
  position: relative;
  transition: height 0.2s;
}

.img__mokeup {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 0.75;
  transform-origin: bottom;
  object-position: top;

  @media only screen and (max-width: 43.75em) {
    min-width: 30rem;
    max-width: 20rem;
    width: 100%;
  }
}

.img__selected {
  height: auto;
  object-fit: contain;

  position: absolute;
  width: 10rem;
  z-index: 300;
  top: 3rem;
  left: 50%;
  padding: 0px;
  transform: translateX(-50%);
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.664);
  transform-origin: center;
  outline-width: 0;

  @media only screen and (max-width: 43.75em) {
    z-index: 910;
  }
}

.totalPrice {
  position: relative;
  right: 0;
  width: 100%;
  z-index: 410;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-S);
  margin-top: var(--spacing-SS);

  @media only screen and (max-width: 84em) {
    align-items: flex-end;
    flex-direction: column;
    gap: var(--spacing-SS);
  }

  @media only screen and (max-width: 43.75em) {
    width: max-content;
    padding-bottom: 2.8rem;
    align-self: flex-end;
  }
}

.enlargeBtn {
  border: none;
  outline: none;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;

  justify-content: center;
  align-items: center;
  gap: var(--spacing-SS);
  background-color: var(--netral-700-transparent);
  z-index: 910;

  @media only screen and (min-width: 71em) {
    display: none;
  }
}

.imageEnlarger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-transparency-darker);
  backdrop-filter: blur(3px);
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  /* overflow: hidden; */
}

.txtEnlarge {
  font-size: var(--font-size-subTitle_03);
  color: var(--neutral-50);
}

.mokeup_container_enlarge {
  position: relative;
  /* width: 40rem; */
  min-width: 40rem;
  width: max-content;
}

.img__mokeup_enlarged {
  width: auto;
  height: 60rem;
  transform-origin: top;
  transform: scale(1.05);

  margin: auto;
  @media only screen and (max-width: 43.75em) {
    min-width: 30rem;
    max-width: 60rem;
    width: 100%;
  }
}

.img__selected_enlarged {
  height: auto;
  object-fit: contain;

  position: absolute;
  z-index: 910;
  top: 16rem;
  left: 50%;
  padding: 0px;
  transform: translateX(-50%);
  transform-origin: center;
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.664);
  outline-width: 0;
}

.box_title {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-subTitle_02);
  letter-spacing: var(--letter-spacing-XS);
}
.box_title_first {
  padding-bottom: var(--spacing-XXS);
}

.suggestedTxt {
  position: absolute;
  top: -2.8rem;
  left: 0;
  z-index: 410;
  opacity: 0.7;
  @media only screen and (max-width: 50em) {
    top: -2.4rem;
    left: 0rem;
  }

  @media only screen and (max-width: 43.75em) {
    top: 4.8rem;
    left: 50%;
    transform: translateX(-55%);
    @media only screen and (max-width: 35em) {
      top: 93%;
      transform: translateX(-55%);
    }
  }
}

.select_container {
  background-color: var(--bg-txt-multiplier);
  width: 100%;
  height: max-content;
  border-radius: 1rem;
  padding: var(--spacing-SS);
  position: relative;
  /* overflow: hidden; */
}

.img {
  width: 14rem;
  height: auto;
  position: relative;
  object-fit: contain;
  z-index: 100;
}

.currentSelectedImg {
  outline: 2px solid var(--prim-500-main);
}

.imgs_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-SS);
}

.imgPrev {
  list-style: none;
  position: relative;
}

.smallHR {
  width: 100%;
  border-color: var(--font-color-gray);
}
.other_text {
  width: 150%;
  text-align: center;
  color: var(--font-color-gray);
}
.title_text {
  text-align: left;
  color: var(--font-color-main);
  line-height: var(--line-height-subTitle_03);
}

.productName {
  font-size: var(--font-size-subTitle_03);
}
.section_desc {
  margin-top: var(--spacing-S);
  margin-bottom: var(--spacing-SS);
}

.shortDescrition {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-S);
}

.fram_module {
  margin-top: var(--spacing-M);
  position: relative;
}

.recommandation_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
  padding-top: var(--spacing-M);
  margin-bottom: var(--spacing-M);
}
.section_title {
  width: 100%;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}

.frames_solutions {
  margin-top: var(--spacing-XS);
  margin-bottom: var(--spacing-M);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-S);
  margin-inline: 3vw;
  @media only screen and (max-width: 71em) {
    justify-content: center;
    margin-inline: 1vw;
  }
}

.btn_selector {
  border: none;
  outline: none;
  width: var(--btnSeclection-width);
  height: var(--btnSeclection-height);

  padding-inline: var(--spacing-S);
  border-radius: var(--borderRadiusBtn-soft);
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
  font-size: var(--font-size-bodyText_01);
  font-family: var(--font-geologica-light);
  line-height: var(--line-height-body_01);
  text-transform: capitalize;

  @media only screen and (max-width: 71em) {
    border-radius: 1rem;
    width: 20rem;
    height: 7rem;
  }
  @media only screen and (max-width: 62.5em) {
    width: 16rem;
    height: 9rem;
  }
}

.btn_selector:disabled {
  background-color: var(--netral-500);
  opacity: 0.6;
}
.btn_selector_lower {
  text-transform: lowercase;
}

.cart__quantity {
  font-size: var(--font-size-bodyText_01);
  @media only screen and (max-width: 43.75em) {
    display: none;
  }
}

.btn_addToCart_complet {
  width: var(--spacing-XL);
  background-color: var(--prim-900);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 43.75em) {
    width: 15rem;
  }
}
.btn_addToCart:hover,
.btn_addToCart:active,
.btn_addToCartv2:hover,
.btn_addToCartv2:active {
  background-color: var(--prim-700);
  cursor: pointer;
}

.btn_addToCart {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  @media only screen and (max-width: 43.75em) {
    height: 7rem;

    justify-content: center;
    padding-inline: var();
  }
}

.btn_addToCartv2 {
  background-color: var(--prim-900);
  border: none;
  outline: none;
  width: 100%;
  height: var(--btnSeclection-height);
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-radius: 1rem;
}

.btn_goToCartv2 {
  background-color: var(--sec-900);
  border: none;
  outline: none;
  min-width: 20rem;
  width: 100%;
  height: 5rem;
  transition: all 0.1s;
  color: var(--sec-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
  overflow: hidden;
  justify-self: stretch;
  border-radius: 1rem;
}
.btn_goToCartv2_floater {
  @media only screen and (max-width: 43.75em) {
    display: none;
  }
}

.btn_goToCartv2:hover,
.btn_goToCartv2:active {
  background-color: var(--sec-700);
  cursor: pointer;
}

.right__btns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: 43.75em) {
    display: none;
  }
}

.btn__symbs {
  border: none;
  outline: none;
  width: 4rem;
  border-left: 1px solid var(--netral-200);
  background-color: var(--prim-900);
}
.btn__symbs__top {
  border-top-right-radius: 1rem;
}
.btn__symbs__bot {
  border-top: 1px solid var(--netral-200);
  border-bottom-right-radius: 1rem;
}

.btn__symbs:hover {
  background-color: var(--prim-700);
  cursor: pointer;
}

.btn_reset {
  border: none;
  outline: none;
  width: 12rem;
  padding-inline: var(--spacing-SS);
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--sec-900);
  transition: all 0.1s;
  color: var(--sec-50);
  border: 1px solid var(--link-color-underline);
}
.btn_reset:disabled {
  background-color: var(--netral-500);
  transition: all 0.1s;
  color: var(--sec-50);
  opacity: 0.6;
}
.btn_reset:hover:disabled {
  cursor: not-allowed;
}

.btn_selector:not(:disabled):hover,
.btn_selector:not(:disabled):active,
.btn_reset:hover:not(:disabled),
.btn_reset:active:not(:disabled) {
  background-color: var(--prim-900);
  cursor: pointer;
}

.btn_selector:hover:disabled,
.btn_reset:hover:disabled {
  cursor: not-allowed;
}

.btn_information {
  border: none;
  outline: none;

  min-width: var(--btnSeclection-width);
  height: var(--btnSeclection-height);
  padding-inline: var(--spacing-SS);

  border-radius: var(--borderRadiusBtn-soft);
  background-color: transparent;
  transition: all 0.1s;
  color: var(--font-color-main);
  border: 2px solid var(--sec-900);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  gap: var(--spacing-XS);
  @media only screen and (max-width: 57em) {
    height: 7rem;
  }
}

.removeImgBtn {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: red;
  z-index: 100;
  border: none;
  outline: none;
  background-color: var(--info-bg-n500);
  border-radius: var(--borderRadiusBtn-mid);
}

.more_infoText {
  font-size: var(--font-size-bodyText_02);
  line-height: var(--line-height-body_02);
}

.btn_information:hover {
  background-color: var(--bg-txt-transparency);
  border: 2px solid var(--information);
  cursor: pointer;
}

.miniIcone {
  width: var(--icone-XS);
  height: var(--icone-XS);
  color: var(--neutral-50);
}
.neural-50 {
  color: var(--neutral-50);
}

.insideBtnIcone {
  min-width: 4rem;
  width: var(--icone-XS);
  height: var(--icone-XS);
  color: var(--font-color-main);
}
.selectedFrame {
  background-color: var(--prim-700);
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--spacing-XXS);
}
.titleInfoBar {
  position: relative;
  width: 100%;
}

.iconeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  width: 3rem;
}

.icone {
  width: 3rem;
  height: 3rem;
  color: var(--icones);
  cursor: pointer;
  transition: all 0.2s;
  z-index: 300;
}

.icone:hover {
  transform: scale(1.1);
  color: var(--prim-300);
}

.iconeClose {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 0;
  top: -5rem;
}

.iconeDesc {
  font-size: var(--font-size-bodyText_02);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
.icone:hover ~ .iconeDesc {
  transform: translate(25%, -50%);
  opacity: 100;
}

.infoBox {
  background-color: var(--info-bg-n500);
  width: 50%;
  height: 100%;
  z-index: 970;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-S);
  gap: var(--spacing-S);
  opacity: 0;
  box-shadow: 0rem 2rem 2rem var(--shop-dropshadow);
}
.infoBox > p {
  font-size: var(--font-size-subTitle_03);
  line-height: var(--line-height-subTitle_03);
}

.slideIn {
  transform: translateX(0%);
  opacity: 100;
  @media only screen and (max-width: 43.75em) {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-transparency-darker);
    backdrop-filter: blur(3px);
  }
  @media only screen and (max-width: 41.25em) {
    width: 100%;
    height: 80%;
    margin-top: 40%;
  }
}

.infoBox .icone {
  align-self: flex-end;
}

/* --------------------------- HELPER  -----------------------------  */
.suggestedTxt_mob {
  position: absolute;
  top: -2.8rem;
  left: 0;
  z-index: 920;
  opacity: 0.7;
}
.txtEnlarge {
  font-size: var(--font-size-subTitle_03);
  color: var(--neutral-50);
}
.iconeEnlarge {
  position: absolute;
  right: 0;
  top: -4rem;
}

.sec_addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: var(--spacing-S);
}

/* --------------------------- Frames emulation  -----------------------------  */

.smallFrame {
  outline: 2px solid var(--black-Oak);
}
.passePartout {
  outline: 10px solid var(--black-Oak);
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.passSizeSmall {
  width: 73%;
  padding: 6px;
}
.passSizeBig {
  width: 85%;
  padding: 30px;
}
.blackPass {
  background-color: #222222;
}

.galleryFrame {
  outline: 10px solid var(--black-Oak);
  padding: 0px;
}
.artbox {
  outline: 5px solid var(--alder-Brown);
  padding: 0px;
  width: 70%;
}
.floater {
  outline: solid 10px var(--alder-Brown);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 71%;
  margin: auto;
  padding: 3px;
}

.alderBrown {
  outline-color: var(--alder-Brown);
}
.blackOak {
  outline-color: var(--black-Oak);
}
.naturalOak {
  outline-color: var(--natural-Oak);
}
.mapleWhite {
  outline-color: var(--maple-White);
}

/* .bigFrame {
  outline-width: 20px;
}
.smallFrame {
  outline-width: 10px;
} */
.woodDot {
  width: var(--font-size-subTitle_02);
  height: var(--font-size-subTitle_02);
  border-radius: 50%;
  border: 2px solid var(--netral-900);
}

.btn_selector__colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-XS);
}

.enlargeIcone {
  color: var(--sec-300);
}

.size16 {
  width: var(--imgSizeSample16);
}
.size20 {
  width: var(--imgSizeSample20);
}
.size24 {
  width: var(--imgSizeSample24);
}
.size30 {
  width: var(--imgSizeSample30);
}
.size35 {
  width: var(--imgSizeSample35);
}
.size40 {
  width: var(--imgSizeSample40);
}
.size50 {
  width: var(--imgSizeSample50);
}
.size60 {
  width: var(--imgSizeSample60);
}
.size70 {
  width: var(--imgSizeSample70);
}
.size75 {
  width: var(--imgSizeSample75);
}
.size80 {
  width: var(--imgSizeSample80);
}
.size90 {
  width: var(--imgSizeSample90);
}
.sizeStd {
  width: var(--imgSizeSampleStd);
}
.verticalAdjus.size16 {
  width: auto;
  height: calc(var(--imgSizeSample16) - 7%);
}
.verticalAdjus.size20 {
  height: calc(var(--imgSizeSample20) - 7%);
  width: auto;
}
.verticalAdjus.size24 {
  height: calc(var(--imgSizeSample24) - 7%);
  width: auto;
}
.verticalAdjus.size30 {
  height: calc(var(--imgSizeSample30) - 8%);
  width: auto;
}
.verticalAdjus.size35 {
  height: calc(var(--imgSizeSample35) - 8%);
  width: auto;
}
.verticalAdjus.size40 {
  height: calc(var(--imgSizeSample40) - 8%);
  width: auto;
}
.verticalAdjus.size50 {
  height: calc(var(--imgSizeSample50) - 8%);
  width: auto;
}
.verticalAdjus.size60 {
  height: calc(var(--imgSizeSample60) - 6%);
  width: auto;
}
.verticalAdjus.size70 {
  height: calc(var(--imgSizeSample70) - 6%);
  width: auto;
}
.verticalAdjus.size75 {
  height: calc(var(--imgSizeSample75) - 8%);
  width: auto;
}
.verticalAdjus.size80 {
  height: calc(var(--imgSizeSample80) - 8%);
  width: auto;
}
.verticalAdjus.size90 {
  height: calc(var(--imgSizeSample90) - 8%);
  width: auto;
}
.verticalAdjus.sizeStd {
  height: var(--imgSizeSample40);
  width: auto;
}

.size16,
.size20,
.size24 {
  top: 6rem;
  left: 40%;

  @media only screen and (max-width: 50em) {
    top: 10rem;
  }
}
.size30,
.size35,
.size40,
.size50 {
  top: 4rem;
}
.verticalAdjus.size30,
.verticalAdjus.size35,
.verticalAdjus.size40 {
  top: 4rem;
  left: 40%;
}
.verticalAdjus.size50 {
  top: 0.5rem;
  left: 40%;
}
.verticalAdjus.img__selected_enlarged.size30,
.verticalAdjus.img__selected_enlarged.size35,
.verticalAdjus.img__selected_enlarged.size40,
.verticalAdjus.img__selected_enlarged.size50 {
  top: 16rem;
  left: 40%;
}

.size60,
.size70,
.size75,
.size80,
.size90 {
  top: 5rem;
  @media only screen and (max-width: 50em) {
    top: 4rem;
  }
}


.border01 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}

.size16.border01 {
  width: calc(var(--imgSizeSample16) + 2.6%);
  padding: 1.3%;
}
.size20.border01 {
  width: calc(var(--imgSizeSample20) + 2.6%);
  padding: 1.3%;
}
.size24.border01 {
  width: calc(var(--imgSizeSample24) + 2.6%);
  padding: 1.3%;
}
.size30.border01 {
  width: calc(var(--imgSizeSample30) + 1.7%);
  padding: 0.85%;
}
.size35.border01 {
  width: calc(var(--imgSizeSample35) + 1.7%);
  padding: 0.85%;
}
.size40.border01 {
  width: calc(var(--imgSizeSample40) + 1.7%);
  padding: 0.85%;
}
.size50.border01 {
  width: calc(var(--imgSizeSample50) + 1.7%);
  padding: 0.85%;
}
.size60.border01 {
  width: calc(var(--imgSizeSample60) + 0.5%);
  padding: 0.25%;
}
.size70.border01 {
  width: calc(var(--imgSizeSample70) + 0.5%);
  padding: 0.25%;
}
.size75.border01 {
  width: calc(var(--imgSizeSample75) + 0.5%);
  padding: 0.25%;
}
.size80.border01 {
  width: calc(var(--imgSizeSample80) + 0.5%);
  padding: 0.25%;
}
.size90.border01 {
  width: calc(var(--imgSizeSample90) + 0.5%);
  padding: 0.25%;
}
.verticalAdjus.size16.border01 {
  height: calc(var(--imgSizeSample16) - 5%);
  width: auto;
  padding: 1.3%;
}
.verticalAdjus.size20.border01 {
  height: calc(var(--imgSizeSample20) - 5%);
  width: auto;
  padding: 1.3%;
}
.verticalAdjus.size24.border01 {
  height: calc(var(--imgSizeSample24) - 5%);
  width: auto;
  padding: 1.3%;
}
.verticalAdjus.size30.border01 {
  height: calc(var(--imgSizeSample30) - 6.7%);
  width: auto;
  padding: 0.85%;
}
.verticalAdjus.size35.border01 {
  height: calc(var(--imgSizeSample35) - 6.7%);
  width: auto;
  padding: 0.85%;
}
.verticalAdjus.size40.border01 {
  height: calc(var(--imgSizeSample40) - 6.7%);
  width: auto;
  padding: 0.85%;
}
.verticalAdjus.size50.border01 {
  height: calc(var(--imgSizeSample50) - 6.7%);
  width: auto;
  padding: 0.85%;
}
.verticalAdjus.size60.border01 {
  height: calc(var(--imgSizeSample60) - 5.5%);
  width: auto;
  padding: 0.25%;
}
.verticalAdjus.size70.border01 {
  height: calc(var(--imgSizeSample70) - 5.5%);
  width: auto;
  padding: 0.25%;
}
.verticalAdjus.size75.border01 {
  height: calc(var(--imgSizeSample75) - 7.7%);
  width: auto;
  padding: 0.25%;
}
.verticalAdjus.size80.border01 {
  height: calc(var(--imgSizeSample80) - 7.7%);
  width: auto;
  padding: 0.25%;
}
.verticalAdjus.size90.border01 {
  height: calc(var(--imgSizeSample90) - 7.7%);
  width: auto;
  padding: 0.25%;
}

.border02 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border02 {
  width: calc(var(--imgSizeSample16) + 5.4%);
  padding: 2.7%;
}
.size20.border02 {
  width: calc(var(--imgSizeSample20) + 5.4%);
  padding: 2.7%;
}
.size24.border02 {
  width: calc(var(--imgSizeSample24) + 5.4%);
  padding: 2.7%;
}
.size30.border02 {
  width: calc(var(--imgSizeSample30) + 3.3%);
  padding: 1.65%;
}
.size35.border02 {
  width: calc(var(--imgSizeSample35) + 3.3%);
  padding: 1.65%;
}
.size40.border02 {
  width: calc(var(--imgSizeSample40) + 3.3%);
  padding: 1.65%;
}
.size50.border02 {
  width: calc(var(--imgSizeSample50) + 3.3%);
  padding: 1.65%;
}
.size60.border02 {
  width: calc(var(--imgSizeSample60) + 1%);
  padding: 0.5%;
}
.size70.border02 {
  width: calc(var(--imgSizeSample70) + 1%);
  padding: 0.5%;
}
.size75.border02 {
  width: calc(var(--imgSizeSample75) + 1%);
  padding: 0.5%;
}
.size80.border02 {
  width: calc(var(--imgSizeSample80) + 1%);
  padding: 0.5%;
}
.size90.border02 {
  width: calc(var(--imgSizeSample90) + 1%);
  padding: 0.5%;
}
.verticalAdjus.size16.border02 {
  height: calc(var(--imgSizeSample16) - 3%);
  width: auto;
  padding: 2.7%;
}
.verticalAdjus.size20.border02 {
  height: calc(var(--imgSizeSample20) - 3%);
  width: auto;
  padding: 2.7%;
}
.verticalAdjus.size24.border02 {
  height: calc(var(--imgSizeSample24) - 3%);
  width: auto;
  padding: 2.7%;
}
.verticalAdjus.size30.border02 {
  height: calc(var(--imgSizeSample30) - 5.5%);
  width: auto;
  padding: 1.65%;
}
.verticalAdjus.size35.border02 {
  height: calc(var(--imgSizeSample35) - 5.5%);
  width: auto;
  padding: 1.65%;
}
.verticalAdjus.size40.border02 {
  height: calc(var(--imgSizeSample40) - 5.5%);
  width: auto;
  padding: 1.65%;
}
.verticalAdjus.size50.border02 {
  height: calc(var(--imgSizeSample50) - 5.5%);
  width: auto;
  padding: 1.65%;
}
.verticalAdjus.size60.border02 {
  height: calc(var(--imgSizeSample60) - 5.2%);
  width: auto;
  padding: 0.5%;
}
.verticalAdjus.size70.border02 {
  height: calc(var(--imgSizeSample70) - 5.2%);
  width: auto;
  padding: 0.5%;
}
.verticalAdjus.size75.border02 {
  height: calc(var(--imgSizeSample75) - 7.3%);
  width: auto;
  padding: 0.5%;
}
.verticalAdjus.size80.border02 {
  height: calc(var(--imgSizeSample80) - 7.3%);
  width: auto;
  padding: 0.5%;
}
.verticalAdjus.size90.border02 {
  height: calc(var(--imgSizeSample90) - 7.3%);
  width: auto;
  padding: 0.5%;
}

.border03 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border03 {
  width: calc(var(--imgSizeSample16) + 8%);
  padding: 4%;
}
.size20.border03 {
  width: calc(var(--imgSizeSample20) + 8%);
  padding: 4%;
}
.size24.border03 {
  width: calc(var(--imgSizeSample24) + 8%);
  padding: 4%;
}
.size30.border03 {
  width: calc(var(--imgSizeSample30) + 5%);
  padding: 2.5%;
}
.size35.border03 {
  width: calc(var(--imgSizeSample35) + 5%);
  padding: 2.5%;
}
.size40.border03 {
  width: calc(var(--imgSizeSample40) + 5%);
  padding: 2.5%;
}
.size50.border03 {
  width: calc(var(--imgSizeSample50) + 5%);
  padding: 2.5%;
}
.size60.border03 {
  width: calc(var(--imgSizeSample60) + 1.5%);
  padding: 0.75%;
}
.size70.border03 {
  width: calc(var(--imgSizeSample70) + 1.5%);
  padding: 0.75%;
}
.size75.border03 {
  width: calc(var(--imgSizeSample75) + 1.5%);
  padding: 0.75%;
}
.size80.border03 {
  width: calc(var(--imgSizeSample80) + 1.5%);
  padding: 0.75%;
}
.size90.border03 {
  width: calc(var(--imgSizeSample90) + 1.5%);
  padding: 0.75%;
}
.verticalAdjus.size16.border03 {
  width: auto;
  height: calc(var(--imgSizeSample16) - 1%);
  padding: 4%;
}
.verticalAdjus.size20.border03 {
  width: auto;
  height: calc(var(--imgSizeSample20) - 1%);
  padding: 4%;
}
.verticalAdjus.size24.border03 {
  width: auto;
  height: calc(var(--imgSizeSample24) - 1%);
  padding: 4%;
}
.verticalAdjus.size30.border03 {
  width: auto;
  height: calc(var(--imgSizeSample30) - 4.3%);
  padding: 2.5%;
}
.verticalAdjus.size35.border03 {
  width: auto;
  height: calc(var(--imgSizeSample35) - 4.3%);
  padding: 2.5%;
}
.verticalAdjus.size40.border03 {
  width: auto;
  height: calc(var(--imgSizeSample40) - 4.3%);
  padding: 2.5%;
}
.verticalAdjus.size50.border03 {
  width: auto;
  height: calc(var(--imgSizeSample50) - 4.3%);
  padding: 2.5%;
}
.verticalAdjus.size60.border03 {
  width: auto;
  height: calc(var(--imgSizeSample60) - 5%);
  padding: 0.75%;
}
.verticalAdjus.size70.border03 {
  width: auto;
  height: calc(var(--imgSizeSample70) - 5%);
  padding: 0.75%;
}
.verticalAdjus.size75.border03 {
  width: auto;
  height: calc(var(--imgSizeSample75) - 7%);
  padding: 0.75%;
}
.verticalAdjus.size80.border03 {
  width: auto;
  height: calc(var(--imgSizeSample80) - 7%);
  padding: 0.75%;
}
.verticalAdjus.size90.border03 {
  width: auto;
  height: calc(var(--imgSizeSample90) - 7%);
  padding: 0.75%;
}

.border05 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border05 {
  width: calc(var(--imgSizeSample16) + 16%);
  padding: 8%;
}
.size20.border05 {
  width: calc(var(--imgSizeSample20) + 16%);
  padding: 8%;
}
.size24.border05 {
  width: calc(var(--imgSizeSample24) + 16%);
  padding: 8%;
}
.size30.border05 {
  width: calc(var(--imgSizeSample30) + 10%);
  padding: 5%;
}
.size35.border05 {
  width: calc(var(--imgSizeSample35) + 10%);
  padding: 5%;
}
.size40.border05 {
  width: calc(var(--imgSizeSample40) + 10%);
  padding: 5%;
}
.size50.border05 {
  width: calc(var(--imgSizeSample50) + 10%);
  padding: 5%;
}
.size60.border05 {
  width: calc(var(--imgSizeSample60) + 3%);
  padding: 1.5%;
}
.size70.border05 {
  width: calc(var(--imgSizeSample70) + 3%);
  padding: 1.5%;
}
.size75.border05 {
  width: calc(var(--imgSizeSample75) + 3%);
  padding: 1.5%;
}
.size80.border05 {
  width: calc(var(--imgSizeSample80) + 3%);
  padding: 1.5%;
}
.size90.border05 {
  width: calc(var(--imgSizeSample90) + 3%);
  padding: 1.5%;
}
.verticalAdjus.size16.border05 {
  width: auto;
  height: calc(var(--imgSizeSample16) + 5%);
  padding: 8%;
}
.verticalAdjus.size20.border05 {
  width: auto;
  height: calc(var(--imgSizeSample20) + 5%);
  padding: 8%;
}
.verticalAdjus.size24.border05 {
  width: auto;
  height: calc(var(--imgSizeSample24) + 5%);
  padding: 8%;
}
.verticalAdjus.size30.border05 {
  width: auto;
  height: calc(var(--imgSizeSample30) - 0.4%);
  padding: 5%;
}
.verticalAdjus.size35.border05 {
  width: auto;
  height: calc(var(--imgSizeSample35) - 0.4%);
  padding: 5%;
}
.verticalAdjus.size40.border05 {
  width: auto;
  height: calc(var(--imgSizeSample40) - 0.4%);
  padding: 5%;
}
.verticalAdjus.size50.border05 {
  width: auto;
  height: calc(var(--imgSizeSample50) - 0.4%);
  padding: 5%;
}
.verticalAdjus.size60.border05 {
  width: auto;
  height: calc(var(--imgSizeSample60) - 3.6%);
  padding: 1.5%;
}
.verticalAdjus.size70.border05 {
  width: auto;
  height: calc(var(--imgSizeSample70) - 3.6%);
  padding: 1.5%;
}
.verticalAdjus.size75.border05 {
  width: auto;
  height: calc(var(--imgSizeSample75) - 5.7%);
  padding: 1.5%;
}
.verticalAdjus.size80.border05 {
  width: auto;
  height: calc(var(--imgSizeSample80) - 5.7%);
  padding: 1.5%;
}
.verticalAdjus.size90.border05 {
  width: auto;
  height: calc(var(--imgSizeSample90) - 5.7%);
  padding: 1.5%;
}

.border08 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border08 {
  width: calc(var(--imgSizeSample16) + 20%);
  padding: 10%;
}
.size20.border08 {
  width: calc(var(--imgSizeSample20) + 20%);
  padding: 10%;
}
.size24.border08 {
  width: calc(var(--imgSizeSample24) + 20%);
  padding: 10%;
}
.size30.border08 {
  width: calc(var(--imgSizeSample30) + 15%);
  padding: 7.5%;
}
.size35.border08 {
  width: calc(var(--imgSizeSample35) + 15%);
  padding: 7.5%;
}
.size40.border08 {
  width: calc(var(--imgSizeSample40) + 15%);
  padding: 7.5%;
}
.size50.border08 {
  width: calc(var(--imgSizeSample50) + 15%);
  padding: 7.5%;
}
.size60.border08 {
  width: calc(var(--imgSizeSample60) + 4.5%);
  padding: 2.25%;
}
.size70.border08 {
  width: calc(var(--imgSizeSample70) + 4.5%);
  padding: 2.25%;
}
.size75.border08 {
  width: calc(var(--imgSizeSample75) + 4.5%);
  padding: 2.25%;
}
.size80.border08 {
  width: calc(var(--imgSizeSample80) + 4.5%);
  padding: 2.25%;
}
.size90.border08 {
  width: calc(var(--imgSizeSample90) + 4.5%);
  padding: 2.25%;
}
.verticalAdjus.size16.border08 {
  width: auto;
  height: calc(var(--imgSizeSample16) + 8%);
  padding: 10%;
}
.verticalAdjus.size20.border08 {
  width: auto;
  height: calc(var(--imgSizeSample20) + 8%);
  padding: 10%;
}
.verticalAdjus.size24.border08 {
  width: auto;
  height: calc(var(--imgSizeSample24) + 8%);
  padding: 10%;
}
.verticalAdjus.size30.border08 {
  width: auto;
  height: calc(var(--imgSizeSample30) + 3.4%);
  padding: 7.5%;
}
.verticalAdjus.size35.border08 {
  width: auto;
  height: calc(var(--imgSizeSample35) + 3.4%);
  padding: 7.5%;
}
.verticalAdjus.size40.border08 {
  width: auto;
  height: calc(var(--imgSizeSample40) + 3.4%);
  padding: 7.5%;
}
.verticalAdjus.size50.border08 {
  width: auto;
  height: calc(var(--imgSizeSample50) + 3.4%);
  padding: 7.5%;
}
.verticalAdjus.size60.border08 {
  width: auto;
  height: calc(var(--imgSizeSample60) - 2.5%);
  padding: 2.25%;
}
.verticalAdjus.size70.border08 {
  width: auto;
  height: calc(var(--imgSizeSample70) - 2.5%);
  padding: 2.25%;
}
.verticalAdjus.size75.border08 {
  width: auto;
  height: calc(var(--imgSizeSample75) - 4.8%);
  padding: 2.25%;
}
.verticalAdjus.size80.border08 {
  width: auto;
  height: calc(var(--imgSizeSample80) - 4.8%);
  padding: 2.25%;
}
.verticalAdjus.size90.border08 {
  width: auto;
  height: calc(var(--imgSizeSample90) - 4.8%);
  padding: 2.25%;
}

.border12 {
  background-color: var(--neutral-50);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: auto;
}
.size16.border12 {
  width: calc(var(--imgSizeSample16) + 30%);
  padding: 15%;
}
.size20.border12 {
  width: calc(var(--imgSizeSample20) + 30%);
  padding: 15%;
}
.size24.border12 {
  width: calc(var(--imgSizeSample24) + 30%);
  padding: 15%;
}
.size30.border12 {
  width: calc(var(--imgSizeSample30) + 20%);
  padding: 10%;
}
.size35.border12 {
  width: calc(var(--imgSizeSample35) + 20%);
  padding: 10%;
}
.size40.border12 {
  width: calc(var(--imgSizeSample40) + 20%);
  padding: 10%;
}
.size50.border12 {
  width: calc(var(--imgSizeSample50) + 20%);
  padding: 10%;
  top: 13rem;
  left: 55%;
}
.size60.border12 {
  width: calc(var(--imgSizeSample60) + 6%);
  padding: 3%;
}
.size70.border12 {
  width: calc(var(--imgSizeSample70) + 6%);
  padding: 3%;
}
.size75.border12 {
  width: calc(var(--imgSizeSample75) + 6%);
  padding: 3%;
}
.size80.border12 {
  width: calc(var(--imgSizeSample80) + 6%);
  padding: 3%;
}
.size90.border12 {
  width: calc(var(--imgSizeSample90) + 6%);
  padding: 3%;
}
.verticalAdjus.size16.border12 {
  width: auto;
  height: calc(var(--imgSizeSample16) + 30%);
  padding: 15%;
}
.verticalAdjus.size20.border12 {
  width: auto;
  height: calc(var(--imgSizeSample20) + 30%);
  padding: 15%;
}
.verticalAdjus.size24.border12 {
  width: auto;
  height: calc(var(--imgSizeSample24) + 30%);
  padding: 15%;
}
.verticalAdjus.size30.border12 {
  width: auto;
  height: calc(var(--imgSizeSample30) + 14.5%);
  padding: 10%;
}
.verticalAdjus.size35.border12 {
  width: auto;
  height: calc(var(--imgSizeSample35) + 14.5%);
  padding: 10%;
}
.verticalAdjus.size40.border12 {
  width: auto;
  height: calc(var(--imgSizeSample40) + 14.5%);
  padding: 10%;
}
.verticalAdjus.size50.border12 {
  width: auto;
  height: calc(var(--imgSizeSample50) + 14.5%);
  padding: 10%;
  top: 13rem;
  left: 55%;
}
.verticalAdjus.size60.border12 {
  width: auto;
  height: calc(var(--imgSizeSample60) + 6%);
  padding: 3%;
}
.verticalAdjus.size70.border12 {
  width: auto;
  height: calc(var(--imgSizeSample70) + 6%);
  padding: 3%;
}
.verticalAdjus.size75.border12 {
  width: auto;
  height: calc(var(--imgSizeSample75) + 6%);
  padding: 3%;
}
.verticalAdjus.size80.border12 {
  width: auto;
  height: calc(var(--imgSizeSample80) + 6%);
  padding: 3%;
}
.verticalAdjus.size90.border12 {
  width: auto;
  height: calc(var(--imgSizeSample90) + 6%);
  padding: 3%;
}

.size16.border15 {
  width: calc(var(--imgSizeSample16) + 38%);
  padding: 19%;
}
.size20.border15 {
  width: calc(var(--imgSizeSample20) + 38%);
  padding: 19%;
}
.size24.border15 {
  width: calc(var(--imgSizeSample24) + 38%);
  padding: 19%;
}
.size30.border15 {
  width: calc(var(--imgSizeSample30) + 25%);
  padding: 12.5%;
}
.size35.border15 {
  width: calc(var(--imgSizeSample35) + 25%);
  padding: 12.5%;
}
.size40.border15 {
  width: calc(var(--imgSizeSample40) + 25%);
  padding: 12.5%;
}
.size50.border15 {
  width: calc(var(--imgSizeSample50) + 25%);
  padding: 12.5%;
  top: 13rem;
  left: 55%;
}
.size60.border15 {
  width: calc(var(--imgSizeSample60) + 7.5%);
  padding: 3.75%;
}
.size70.border15 {
  width: calc(var(--imgSizeSample70) + 7.5%);
  padding: 3.75%;
}
.size75.border15 {
  width: calc(var(--imgSizeSample75) + 7.5%);
  padding: 3.75%;
}
.size80.border15 {
  width: calc(var(--imgSizeSample80) + 7.5%);
  padding: 3.75%;
}
.size90.border15 {
  width: calc(var(--imgSizeSample90) + 7.5%);
  padding: 3.75%;
}

.size16.artboxFrame {
  outline-width: 3px;
}
.size20.artboxFrame {
  outline-width: 3px;
}
.size24.artboxFrame {
  outline-width: 3px;
}
.size30.artboxFrame {
  outline-width: 2px;
}
.size35.artboxFrame {
  outline-width: 2px;
}
.size40.artboxFrame {
  outline-width: 2px;
}
.size50.artboxFrame {
  outline-width: 2px;
}
.size60.artboxFrame {
  outline-width: 1px;
}
.size70.artboxFrame {
  outline-width: 1px;
}
.size75.artboxFrame {
  outline-width: 1px;
}
.size80.artboxFrame {
  outline-width: 1px;
}
.size90.artboxFrame {
  outline-width: 1px;
}

.size16.stdFloaterFrame {
  outline-width: 8.5px;
}
.size20.stdFloaterFrame {
  outline-width: 8.5px;
}
.size24.stdFloaterFrame {
  outline-width: 8.5px;
}
.size30.stdFloaterFrame {
  outline-width: 4.5px;
}
.size35.stdFloaterFrame {
  outline-width: 4.5px;
}
.size40.stdFloaterFrame {
  outline-width: 4.5px;
}
.size50.stdFloaterFrame {
  outline-width: 4.5px;
}
.size60.stdFloaterFrame {
  outline-width: 1.5px;
}
.size70.stdFloaterFrame {
  outline-width: 1.5px;
}
.size75.stdFloaterFrame {
  outline-width: 1.5px;
}
.size80.stdFloaterFrame {
  outline-width: 1.5px;
}
.size90.stdFloaterFrame {
  outline-width: 1.5px;
}

.size16.bigFloaterFrame {
  outline-width: 17px;
}
.size20.bigFloaterFrame {
  outline-width: 17px;
}
.size24.bigFloaterFrame {
  outline-width: 17px;
}
.size30.bigFloaterFrame {
  outline-width: 9px;
}
.size35.bigFloaterFrame {
  outline-width: 9px;
}
.size40.bigFloaterFrame {
  outline-width: 9px;
}
.size50.bigFloaterFrame {
  outline-width: 9px;
}
.size60.bigFloaterFrame {
  outline-width: 3px;
}
.size70.bigFloaterFrame {
  outline-width: 3px;
}
.size75.bigFloaterFrame {
  outline-width: 3px;
}
.size80.bigFloaterFrame {
  outline-width: 3px;
}
.size90.bigFloaterFrame {
  outline-width: 3px;
}

.size16.smallFrame {
  outline-width: 12px;
}
.size20.smallFrame {
  outline-width: 12px;
}
.size24.smallFrame {
  outline-width: 12px;
}
.size30.smallFrame {
  outline-width: 8px;
}
.size35.smallFrame {
  outline-width: 8px;
}
.size40.smallFrame {
  outline-width: 8px;
}
.size50.smallFrame {
  outline-width: 7px;
}
.size60.smallFrame {
  outline-width: 3px;
}
.size70.smallFrame {
  outline-width: 3px;
}
.size75.smallFrame {
  outline-width: 3px;
}
.size80.smallFrame {
  outline-width: 3px;
}
.size90.smallFrame {
  outline-width: 3px;
}

.size16.bigFrame {
  outline-width: 24px;
}
.size20.bigFrame {
  outline-width: 24px;
}
.size24.bigFrame {
  outline-width: 24px;
}
.size30.bigFrame {
  outline-width: 16px;
}
.size35.bigFrame {
  outline-width: 16px;
}
.size40.bigFrame {
  outline-width: 16px;
}
.size50.bigFrame {
  outline-width: 16px;
}
.size60.bigFrame {
  outline-width: 6px;
}
.size70.bigFrame {
  outline-width: 6px;
}
.size75.bigFrame {
  outline-width: 6px;
}
.size80.bigFrame {
  outline-width: 6px;
}
.size90.bigFrame {
  outline-width: 6px;
}

/* .passSizeSmall {
  width: 73%;
  padding: 6px;
}
.passSizeBig {
  width: 85%;
  padding: 30px;
} */

.warning_container {
  background-color: var(--shop-info-transparency);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: var(--spacing-S);
  padding: var(--spacing-S);
  gap: var(--spacing-S);
}
.sec_info {
  background-color: var(--shop-info-transparency);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  padding: var(--spacing-SS);
  border-radius: var(--borderRadiusBtn-very-soft);
  width: 100%;
  gap: var(--spacing-XS);
  cursor: default;
}
.info_icone {
  min-width: 4rem;
  width: var(--icone-XS);
  height: var(--icone-XS);
}

.warningIcone {
  width: 10rem;
  height: 3rem;
  color: var(--information);
}

.neural_50 {
  color: var(--neutral-50);
}
