:root {
  /* Font
  --font-geologica-Roman-Medium
  --font-geologica-Roman-Regular
  --font-geologica-light
  --font-geologica-Regular
  --font-geologica-Cursive-Regular
  --font-Lateef-Regular
  --font-SawarabiMincho-Regular
  */

  --font-size-Display_01: 9.6rem;
  --font-size-Display_02: 7.2rem;
  --font-size-Display_03: 6rem;

  --font-size-Title_01: 4.8rem;
  --line-height-Title_01: 6.72rem;

  --font-size-Title_02: 4.2rem;
  --font-size-subTitle_01: 3.2rem;
  --font-size-subTitle_02: 2.4rem;

  --font-size-subTitle_03: 2.1rem;
  --line-height-subTitle_03: 3.36rem;

  --font-size-bodyText_01: 1.6rem;
  --line-height-body_01: 2.5rem;
  --font-size-bodyText_02: 1.4rem;
  --font-size-bodyText_03: 1.2rem;

  --font-size-detail_01: 1rem;
  --font-size-detail_02: 0.8rem;

  /* --neutral-00-white: #f8fafc; */
  --background-color: #f8fafc;
  --background-color-transparency: hsla(210, 40%, 98%, 0.9);
  --neutral-50: #eaecee;
  --netral-200: #9da6af;
  --netral-300: #717d8a;
  --netral-400: #556473;
  --netral-500: #2b3d50;
  --netral-700: #1f2b39;
  --netral-900: #121a22;
  --netral-black: #1a1a1a;

  --font-color-main: #1f2b39;

  --font-color-sec: #2b3d50;
  --font-color-gray: #556473;
  --font-color-body_02: #717d8a;
  --link-color-underline: #717d8a;
  --white-bar: #eaecee;

  --prim-100: #f8c8c3;
  --prim-300: #ef887c;
  --prim-500-main: #e74d3c;
  --prim-700: #a4372b;
  --prim-900: #612019;

  --sec-50: #eaf2f8;
  --sec-100: #bcd7e9;
  --sec-300: #6fa9cf;
  --sec-500-main: #287fb8;
  --sec-700: #1c5a83;

  --success: #10b981;
  --warning: #fcd34d;
  --error: #ef4444;
  --information: #0891b2;

  /* Spacing */
  --padding-inLine: 3vw;
  --padding-vertical: 3vh;
  --maxWidth: 1440px;
  --window-height: 100vh;

  --spacing-XS: 0.8rem;
  --spacing-SS: 1.6rem;
  --spacing-S: 2.4rem;
  --spacing-SM: 3.6rem;
  --spacing-M: 4.8rem;
  --spacing-LM: 6rem;
  --spacing-L: 12rem;
  --spacing-XL: 19.2rem;

  --max-width: 1100px;
  --border-radius: 12px;
  --footerSize: 45rem;

  --special_link: 2.4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --netral-900: #121a22; */
    --background-color: #121a22;
    --background-color-transparency: hsla(208, 29%, 10%, 0.9);

    --font-color-main: #eaecee;
    --font-color-sec: #f8fafc;
    --font-color-gray: #9da6af;
    --font-color-body_02: #bcd7e9;

    --link-color-underline: #717d8a;

    --special_link: 50vh;
  }
  .light_mode_only {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .dark_mode_only {
    display: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: black;
  /* color: var(--main-color) */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  box-sizing: border-box;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: var(--font-size-Display_01);
  color: var(--font-color-main);
}
h2 {
  font-size: var(--font-size-Title_01);
  line-height: var(--font-size-Title_01);
  font-family: var(--font-Lateef-Regular);
  color: var(--font-color-main);
  letter-spacing: 3px;
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-Title_02);
  color: var(--font-color-main);
}
h4 {
  font-size: var(--font-size-subTitle_01);
  font-family: var(--font-Lateef-Regular);
  color: var(--font-color-main);
  font-weight: 300;
  letter-spacing: 4px;
}
h5 {
  font-size: var(--font-size-subTitle_02);
  font-family: var(--font-geologica-Regular);
  color: var(--font-color-main);
  font-weight: 400;
}
h6 {
  font-size: var(--font-size-subTitle_03);
  color: var(--font-color-main);
  font-weight: 400;
  letter-spacing: 4px;
}
p {
  font-size: var(--font-size-bodyText_01);
  font-family: var(--font-geologica-Regular);
  color: var(--font-color-main);
  line-height: var(--line-height-body_01);
}

p.body_02 {
  font-size: var(--font-size-bodyText_02);
  font-family: var(--font-geologica-light);
  color: var(--font-color-body_02);
  line-height: var(--line-height-body_01);
}
p.detail_01 {
  font-size: var(--font-size-bodyText_01);
  font-family: var(--font-geologica-light);
  line-height: var(--font-height-body_01);
}
p.detail_02 {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
}

.geologicaReg {
  font-family: var(--font-geologica-Regular);
}
.geologicaRom {
  font-family: var(--font-geologica-Roman-light);
  font-size: 300;
  letter-spacing: 1.3px;
}

.japanese {
  font-family: var(--font-SawarabiMincho-Regular);
}

.main-Color {
  color: var(--prim-500-main);
}
.prim-100 {
  color: var(--prim-100);
}

.gallery_Link {
  font-family: var(--font-geologica-light);
  color: var(--font-color-main);
  letter-spacing: 4px;
  font-size: var(--font-size-bodyText_02);

  border-bottom: 1px solid var(--link-color-underline);
}

.presentation_sp_link {
  margin-top: var(--special_link);
}
