:root {
  /* Font
  --font-geologica
  --font-geologica-light
  --font-geologica-Cursive
  --font-geologica-Roman-Medium
  --font-geologica-Roman-Regular

  --font-atom
  --font-SawarabiMincho
  */

  /* --bg-txt-multiplier */

  --font-size-Display_01: 9.6rem;
  --font-size-Display_02: 7.2rem;
  --font-size-Display_03: 6rem;

  --font-size-Title_01: 4.8rem;
  --font-size-Title_02: 4.2rem;
  --font-size-Title_03: 3.6rem;

  --font-size-subTitle_01: 3.2rem;
  --font-size-subTitle_02: 2.4rem;
  --font-size-subTitle_03: 2.1rem;

  --font-size-bodyText_01: 1.6rem;
  --font-size-bodyText_02: 1.4rem;
  --font-size-bodyText_03: 1.2rem;
  --font-size-detail_01: 1rem;
  --font-size-detail_02: 0.8rem;

  --line-height-Title_01: 6.72rem;
  --line-height-subTitle_03: 3.36rem;
  --line-height-body_01: 2.5rem;
  --line-height-body_02: 2.24rem;

  --letter-spacing-XS: 1px;
  --letter-spacing-S: 3px;
  --letter-spacing-M: 5px;

  --transi-time-S: 100ms;
  --transi-time-M: 200ms;
  --transi-time-L: 300ms;
  --hover-scaling: 1.05;
  --active-scaling: 1.02;
  /* var(--transi-time-M) */

  --background-color: #f8fafc;

  /* Nav */
  --nav-height: 8rem;
  --bg-nav: hsla(210, 40%, 98%, 0.9);
  --bg-brightness: brightness(1.1);

  /* Gallery */
  --popup-bg-transparency: hsla(210, 40%, 98%, 0.9);

  --background-color-transparency: hsla(210, 40%, 98%, 0.9);
  --background-color-transparency-darker: hsla(210, 40%, 98%, 0.95);

  --border-menu: hsla(204, 64%, 18%, 0.75);
  --bg-nav-smallScreenIcone: hsla(210, 11%, 93%, 0.9);

  --bg-txt-transparency: hsla(210, 40%, 98%, 0.98);
  --active-link-transparency: hsla(204, 64%, 18%, 0.3);
  --bg-transparency-smallScreen: hsla(210, 11%, 93%, 0.9);

  --shop-info-transparency: hsla(204, 50%, 62%, 0.15);
  --shop-right-transparency: hsla(210, 11%, 93%, 0.35);

  --gallery-title-transparency: hsla(204, 64%, 18%, 0.75);
  --gallery-arrow-blend-color: #eaecee;

  --bg-txt-multiplier: hsla(210, 11%, 93%, 0.9);
  --shop-dropshadow: hsla(204, 64%, 18%, 0.75);
  --info-bg-n500: #eaecee;
  --icones: #11354d;
  --icones_locked: #9da6af;
  --sec-btn: #287fb8;
  --prim-btn: #ef887c;

  --loading-btn: #556473;

  --netral-700-transparent: hsla(212, 30%, 17%, 0.9);

  --bg-p1-transparency: hsla(210, 40%, 98%, 0.7);
  --bg-p1-brightness: 1.15;
  --bg-navMobile-brightness: 1.4;

  --font-color-main: #1f2b39;
  --font-color-sec: #2b3d50;
  --font-color-gray: #556473;
  --font-color-body_02: #2b3d50;
  --link-color-underline: #717d8a;
  --section-2-band: #121a22;
  --btn-background: #1f2b39;

  --dropDown-Coutry-bg: #f8fafc;
  --dropDown-Coutry-arrow-bg: #bdc3c9;

  --rules-color: #2b3d50;
  --underline-neutral: #eaecee;
  /* --neutral-00-white: #f8fafc; */

  --neutral-50: #eaecee;
  --netral-100: #bdc3c9;
  --netral-200: #9da6af;
  --netral-300: #717d8a;
  --netral-400: #556473;
  --netral-500: #2b3d50;
  --netral-700: #1f2b39;
  --netral-900: #121a22;
  --netral-black: #1a1a1a;

  --prim-100: #f8c8c3;
  --prim-300: #ef887c;
  --prim-500-main: #e74d3c;
  --prim-700: #a4372b;
  --prim-900: #612019;

  --sec-50: #eaf2f8;
  --sec-100: #bcd7e9;
  --sec-300: #6fa9cf;
  --sec-500-main: #287fb8;
  --sec-700: #1c5a83;
  --sec-900: #11354d;

  --success: #10b981;
  --warning: #fcd34d;
  --error: #ef4444;
  --information: #0891b2;

  /* Spacing */
  --padding-inLine: 3vw;
  --padding-vertical: 3vh;
  --window-height: 100vh;

  --spacing-XXS: 0.4rem;
  --spacing-XS: 0.8rem;
  --spacing-SS: 1.6rem;
  --spacing-S: 2.4rem;
  --spacing-SM: 3.6rem;
  --spacing-M: 4.8rem;
  --spacing-LM: 6rem;
  --spacing-L: 12rem;
  --spacing-XL: 19.2rem;

  --img-preview-M: 30rem;

  --max-width-MS: 1100px;
  --max-width-MM: 1200px;
  --max-width-M: 1600px;
  --max-width-ML: 1900px;
  --max-width-L: 2100px;

  --borderRadiusBtn-very-soft: 0.5rem;
  --borderRadiusBtn-soft: 2rem;
  --borderRadiusBtn-mid: 4rem;
  --borderRadiusBtn-round: 50%;

  --btnSeclection-height-S: 3.6rem;
  --btnSeclection-height-M: 4.8rem;
  --btnSeclection-height: 7rem;
  --btnSeclection-width: 25rem;

  --arrow-S: 0.5rem;
  --icone-XS: 3rem;
  --icone-S: 5rem;
  --icone-M: 8rem;
  --border-radius: 12px;
  --footerSize: 45rem;
  --footerSizeMobile: 70rem;

  --special_link: 0.8rem;

  --alder-Brown: hsl(11, 50%, 10%);
  --black-Oak: #21201c;
  --natural-Oak: #a0825c;
  --maple-White: #ede5e2;

  /* Width */
  --imgSizeSample16: 25%;
  --imgSizeSample20: 31%;
  --imgSizeSample24: 37%;
  --imgSizeSample30: 28%;
  --imgSizeSample35: 33%;
  --imgSizeSample40: 38%;
  --imgSizeSample50: 48%;
  --imgSizeSample60: 30%;
  --imgSizeSample70: 35%;
  --imgSizeSample75: 37.5%;
  --imgSizeSample80: 40%;
  --imgSizeSample90: 45%;
  --imgSizeSampleStd: 48%;
}

html.dark {
  --background-color: #121a22;
  --popup-bg-transparency: hsla(208, 29%, 10%, 0.9);

  --background-color-transparency: hsla(208, 29%, 10%, 0.9);
  --background-color-transparency-darker: hsla(208, 29%, 10%, 0.95);

  --bg-nav: hsla(208, 29%, 10%, 0.4);
  --bg-brightness: brightness(0.4);

  --bg-nav-smallScreenIcone: hsla(210, 31%, 10%, 0.7);
  --border-menu: hsla(210, 11%, 93%, 0.5);

  --info-bg-n500: hsl(211, 30%, 24%);
  --bg-txt-transparency: hsla(208, 29%, 10%, 0.98);
  --bg-txt-multiplier: hsla(208, 29%, 5%, 0.918);
  --bg-p1-transparency: hsla(208, 29%, 10%, 0.5);
  --bg-p1-brightness: 0.4;
  --bg-navMobile-brightness: 0.9;
  --bg-transparency-smallScreen: hsla(204, 64%, 18%, 0.75);

  --gallery-arrow-blend-color: #eaecee;

  --shop-info-transparency: hsla(204, 64%, 18%, 0.75);
  --shop-dropshadow: hsla(0, 0%, 0%, 0.9);
  --shop-right-transparency: hsl(212, 30%, 17%);

  --font-color-main: #eaecee;
  --font-color-sec: #f8fafc;
  --font-color-gray: #9da6af;
  --font-color-body_02: #bcd7e9;
  --rules-color: #f8fafc;
  --section-2-band: #612019;
  --btn-background: #a4372b;

  --loading-btn: #1f2b39;

  --dropDown-Coutry-bg: #1f2b39;
  --dropDown-Coutry-arrow-bg: #556473;

  --underline-neutral: #1f2b39;
  --link-color-underline: #eaecee;
  --icones: #6fa9cf;
  --icones_locked: #556473;
  --prim-btn: #a4372b;
  --sec-btn: #1c5a83;

  --special_link: 50vh;
}
html.dark .light_mode_only {
  display: none;
}
html.light .dark_mode_only {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline-color: var(--information);
  outline-offset: 4px;
  box-shadow: none;
}
*:active {
  outline: none;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 125em) {
    font-size: 80%;
  }
  @media only screen and (max-width: 55em) {
    font-size: 50%;
  }
  @media only screen and (max-width: 27em) {
    font-size: 45%;
  }
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

html,
body {
  max-width: 100vw;
  background-color: var(--background-color);
  box-sizing: border-box;
  margin: auto;
  font-family: var(--font-geologica-Cursive), Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-Display_01);
  color: var(--font-color-main);
}
h2 {
  font-size: var(--font-size-Title_01);
  line-height: var(--font-size-Title_01);
  font-family: var(--font-atom);
  color: var(--font-color-main);
  letter-spacing: 3px;
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-Title_02);
  color: var(--font-color-main);
}
h4 {
  font-size: var(--font-size-Title_02);
  font-family: var(--font-atom), Times, "Times New Roman", serif;
  color: var(--font-color-main);
  font-weight: 300;
  letter-spacing: 6px;
}
h5 {
  font-size: var(--font-size-subTitle_02);
  font-family: var(--font-geologica);
  color: var(--font-color-main);
  font-weight: 400;
}
h6 {
  font-family: var(--font-atom), Times, "Times New Roman", serif;
  font-size: var(--font-size-subTitle_01);
  color: var(--font-color-main);
  font-weight: 400;
  letter-spacing: 4px;
}
p {
  font-size: var(--font-size-bodyText_01);
  font-family: var(--font-geologica);
  color: var(--font-color-main);
  line-height: var(--line-height-body_01);
}

p.body_02 {
  font-size: var(--font-size-bodyText_02);
  font-family: var(--font-geologica-light);
  line-height: var(--line-height-body_01);
}
p.detail_01 {
  font-size: var(--font-size-bodyText_01);
  font-family: var(--font-geologica-light);
  line-height: var(--font-height-body_01);
}
p.detail_02 {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-bodyText_02);
}

.geologica {
  font-family: var(--font-geologica), Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.geologicaRom {
  font-family: var(--font-geologica-Roman-light);
  font-size: 300;
  letter-spacing: 1.3px;
}

.japanese {
  font-family: var(--font-SawarabiMincho);
  font-weight: 400;
}

.main-Color {
  color: var(--prim-500-main);
}

.alder_brown {
  background: var(--alder-Brown);
}
.black_oak {
  background: var(--black-Oak);
}
.natural_oak {
  background: var(--natural-Oak);
}
.maple_white {
  background: var(--maple-White);
}

.presentation_sp_link {
  margin-top: var(--special_link);
}

.btn-cta {
  user-select: none;

  font-family: var(--font-geologica-Cursive);
  font-size: var(--font-size-bodyText_01);
  letter-spacing: 1px;
  color: var(--sec-50);

  background-color: var(--btn-background);
  outline: none;
  border: none;
  width: var(--spacing-XL);
  height: var(--spacing-M);
  border-radius: 8px;
  cursor: pointer;
  transition: all var(--transi-time-M);
}

.btn-cta:hover {
  transition: all var(--transi-time-M);
  background-color: var(--prim-500-main);
}

.btn-cta:active,
.btn-cta:focus {
  transition: all var(--transi-time-S);
  background-color: var(--loading-btn);
}

.opaticity {
  opacity: 0;
  transform: translateY(100%);
}

.unLoaded {
  opacity: 0;
  transition: all 0.4s;
}
.btn-cta:disabled {
  background-color: var(--netral-300);
  opacity: 0.8;
}

/* Not found page */
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: var(--spacing-M);
}

.notFoundMyName {
  font-family: var(--font-geologica-light);
  font-weight: 300;
}

.notFoundTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-M);
  /* 
  padding: var(--spacing-S) var(--spacing-M);
  background-color: var(--shop-info-transparency); 
  */
}

.notFoundLogo {
  width: var(--icone-S);
  height: var(--icone-S);
}

.notFoundImg {
  object-fit: cover;
  height: auto;
  width: 100%;
  aspect-ratio: 20/9;
  max-width: 600px;
}
.notFoundTitle {
  border-right: 1px solid var(--rules-color);
}
.notFoundLink {
  text-decoration: underline 1px var(--rules-color);
}

.dot {
  width: var(--font-size-bodyText_03);
  height: var(--font-size-bodyText_03);
  background: var(--prim-500-main);
  border-radius: 50%;
}

/*


3000px 187.5em
@media only screen and (min-width: 187.5em){} 

2000px 125em
@media only screen and (max-width: 125em){}  
1920px 120em
@media only screen and (max-width: 120em){}
1848px 115.5em  
@media only screen and (max-width: 115.5em) {} 
1560px 97.5em
@media only screen and (max-width: 97.5em) {} 
1440px 90em
@media only screen and (max-width: 90em){}  
1350px 85em
@media only screen and (max-width: 85em) {}
1344px 84em
@media only screen and (max-width: 84em){} 
1300px 81.25em
@media only screen and (max-width: 81.25em) {}
1232px 77em
@media only screen and (max-width: 77em){} 
1200px 75em
@media only screen and (max-width: 75em){} 

Tablet: 
1136 px 71em
@media only screen and (max-width: 71em) {}
1040px 65em
@media only screen and (max-width: 65em){}
1000px 62.5em
@media only screen and (max-width: 62.5em){}
912px 57em 
@media only screen and (max-width: 57em){}
880px 55em
@media only screen and (max-width: 55em){}  
848px 53em
@media only screen and (max-width: 53em){}  
800px 50em
@media only screen and (max-width: 50em){}  
720px 45.25em
@media only screen and (max-width: 45.25em){}  
700px 43.75em
@media only screen and (max-width: 43.75em){}  

Phones
660px 41.25em
@media only screen and (max-width: 41.25em) {}
616px 38.5em
@media only screen and (max-width: 38.5em) {}
600px 37.5em
@media only screen and (max-width: 37.5em){} 
560px 35em
@media only screen and (max-width: 35em){}
528px 33em 
@media only screen and (max-width: 33em){} 
512px 32em 
@media only screen and (max-width: 32em){} 

480px 30em
@media only screen and (max-width: 30em){} 

432px 27em
@media only screen and (max-width: 27em){}  

index:


500 navbar

*/
