.heroSection {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-width: 77em) {
    width: calc(100vw - (var(--padding-inLine) * 2));
  }
  @media only screen and (max-width: 43.75em) {
    width: 100%;
  }
}

.title_container {
  margin-inline: 10vw;
  text-align: center;

  @media only screen and (max-width: 77em) {
    padding-right: 0rem;
  }
}

.title_txt {
  font-family: var(--font-geologica-Regular);
  font-size: var(--font-size-subTitle_01);
  letter-spacing: var(--letter-spacing-XS);
  transform: translateY(-10%);
}

.keywords {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-SS);
}
