.grid {
  position: relative;
  padding-top: var(--spacing-S);

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  margin-right: 5rem;

  gap: var(--spacing-S);

  @media only screen and (max-width: 85em) {
    gap: var(--spacing-SS);
  }
  @media only screen and (max-width: 71em) {
    padding-left: 0;
  }
  @media only screen and (max-width: 38.5em) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.card {
  list-style: none;
  height: 350px;
  flex-grow: 1;
  overflow: hidden;

  @media only screen and (max-width: 97.5em) {
    height: 300px;
  }
  @media only screen and (max-width: 85em) {
    height: 250px;
  }
  @media only screen and (max-width: 71em) {
    height: 220px;
  }
  @media only screen and (max-width: 38.5em) {
    height: 100%;
  }
}
.card:last-child {
  max-width: 450px;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
  pointer-events: none;
  @media only screen and (max-width: 38.5em) {
    width: 100%;
    height: auto;
  }
}
.img:hover {
  cursor: zoom-in;
  transform: scale(1.1);
}

.popUpImg__Container {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-inline: 5vw;
  background-color: var(--background-color-transparency);
  background-size: 100%;
  backdrop-filter: blur(3px);
}

.popUpImg__img {
  width: auto;
  height: min(1200px, 90%);
  z-index: 200;
  object-fit: contain;
  cursor: default;
  transition: all 0.4s;
}

.close_container {
  position: fixed;

  top: 4rem;
  right: 4rem;
  height: var(--icone-M);
  width: var(--icone-M);
  z-index: 510;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
}

.close {
  height: 100%;
  width: 100%;
}

.icone {
  position: absolute;
  width: var(--icone-M);
  height: var(--icone-M);
  color: var(--font-color-main);
  z-index: 900;
  transition: all 0.3s;
  cursor: pointer;
}

.icone_left {
  left: 2vw;
  top: calc(50% - (var(--icone-M) / 2));
}
.icone_right {
  top: calc(50% - (var(--icone-M) / 2));
  right: 2vw;
}

.icone:hover {

  transform: scale(1.05);
}
