

.smallGalleryNav {
  @media only screen and (min-width: 77em) {
    display: none;
  }
}

.icone_SmallScreen_close,
.icone_SmallScreen_menu {
  position: fixed;
  right: var(--padding-inLine);
  top: var(--padding-vertical);
  color: var(--font-color-main);
  width: var(--icone-S);
  height: var(--icone-S);
  z-index: 990;
  transition: all 0.3s;
  border-radius: 50%;

  padding: 1rem;
  background-color: var(--background-color-transparency);
  border: 1px solid var(--border-menu);
  backdrop-filter: blur(10px);

  @media only screen and (min-width: 77em) {
    display: none;
  }
}

.icone_SmallScreen_close:active {
  transform: scale(1.1);
}

.icone_SmallScreen_menu:active {
  transform: scale(1.1);
}

.nav_SmallScreen {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  z-index: 900;

  @media only screen and (max-width: 65em) {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.left_sSize {
  grid-column: 1/3;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 900;
  position: relative;
  @media only screen and (max-width: 32em) {
    grid-column: 1/2;
  }
}
.right_sSize {
  grid-column: 3/4;
  background-color: var(--bg-transparency-smallScreen);
  z-index: 900;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  backdrop-filter: blur(5px) brightness(var(--bg-p1-brightness));
  @media only screen and (max-width: 32em) {
    grid-column: 2/4;
    padding-top: 0rem;
  }
}

.icone_SmallScreen_close {
  border: 2px solid var(--font-color-main);
}

.links_smallSize {
  @media only screen and (max-width: 77em) {
    font-family: var(--font-geologica-Cursive-Regular);
    font-size: var(--font-size-subTitle_03);

    display: flex;
    align-items: left;
    justify-content: center;
    gap: var(--spacing-SM);
    padding-inline: var(--spacing-S);

    flex-direction: column;
    height: 100vh;
    width: 100%;

    min-height: 700px;
    color: var(--font-color-main);
    margin-top: var(--spacing-S);
    margin-bottom: var(--spacing-M);
  }
  @media only screen and (max-width: 65em) {
    padding-inline: var(--spacing-LM);
  }
  @media only screen and (max-width: 38.5em) {
    padding-inline: var(--spacing-S);
  }
}

.link {
  padding-left: var(--spacing-SS);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-SS);
}
.myNameLink {
  font-family: var(--font-geologica-light);
  font-size: var(--font-size-subTitle_01);
  line-height: var(--font-size-Title_02);

  color: var(--font-color-main);

  @media only screen and (min-width: 43.75em) {
    display: none;
  }
}

.link p {
  border-right: 1px solid var(--font-color-main);
  padding-right: var(--spacing-XS);
}

.translateOut {
  transform: translateX(100%);
}
.currPage {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
}
