.nav {
  position: sticky;
  top: calc(var(--spacing-XL) + var(--spacing-SS));
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;

  gap: var(--spacing-M);
  letter-spacing: var(--letter-spacing-XS);

  z-index: 100;
  @media only screen and (max-width: 85em) {
    padding-top: calc(var(--spacing-LM) + var(--spacing-SS));
  }
}

.links__list {
  font-family: var(--font-geologica-Cursive);
  font-size: var(--font-size-subTitle_03);
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-SS);

  @media only screen and (max-width: 84em) {
    font-size: var(--font-size-bodyText_01);
  }
}

.links__list_name {
  font-family: var(--font-geologica-Cursive);
  font-size: var(--font-size-bodyText_01);
  border-bottom: 1px solid var(--border-menu);
  color: var(--prim-500-main);
}

.link__group {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-items: left;
  gap: var(--spacing-SS);
  margin-bottom: var(--spacing-M);

  padding-inline: var(--spacing-SS);
  @media only screen and (max-width: 84em) {
    padding-left: 0;
  }
}

.link__li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-SS);
  width: 100%;
  cursor: pointer;
}

.link__li:hover .link__li_title {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
}
.link__li:active .link__li_title {
  text-decoration: underline;
  text-decoration-color: var(--prim-500-main);
}
.link__li:hover .bar {
  color: var(--prim-500-main);
}
.currPage {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
}

.number {
  min-width: max-content;
}
