.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: var(--spacing-M);
  letter-spacing: 1px;
  padding-top: calc(var(--spacing-LM) + var(--spacing-S));
  z-index: 100;

  @media only screen and (max-height: 50em) {
    gap: var(--spacing-SS);
  }
  @media only screen and (max-width: 85em) {
    padding-top: calc(var(--spacing-LM) + var(--spacing-SS));
  }
}

.myNameLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  font-family: var(--font-Lateef-Regular);
  font-size: var(--font-size-Title_01);
  line-height: var(--font-size-Title_02);
  letter-spacing: 3px;
  color: var(--font-color-body_02);
  transition: all 0.2s;
  z-index: 300;
  @media only screen and (max-height: 50em) {
    font-size: var(--font-size-Title_02);
    line-height: var(--font-size-subTitle_01);
  }

  @media only screen and (max-width: 84em) {
    width: 25rem;
  }
}

.myNameLink:hover {
  color: var(--font-color-gray);
  transform: scale(1.05);
}

.links__List {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-subTitle_03);

  display: flex;
  align-items: left;
  flex-direction: column;
  gap: var(--spacing-SS);
  @media only screen and (max-width: 84em) {
    font-size: var(--font-size-bodyText_01);
  }
}

.link__group_name {
  font-family: var(--font-geologica-Cursive-Regular);
  font-size: var(--font-size-bodyText_01);
  border-bottom: 1px solid var(--link-color-underline);
  color: var(--prim-500-main);
  margin-bottom: var(--spacing-XS);
}

.link__group {
  display: grid;
  grid-template-columns: 3.2rem 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;
  gap: var(--spacing-SS);
  padding-left: var(--spacing-SS);
  @media only screen and (max-width: 84em) {
    padding-left: 0;
  }
}
.link__first {
  margin-bottom: var(--spacing-S);
}

.bar {
  color: var(--link-color-underline);
}

.number {
  justify-self: right;
}

.normal__link {
  width: max-content;
}

.link__group > :not(p),
.normal__link {
  color: var(--font-color-main);
  transition: all 0.2s;
  transform-origin: left;
}

.link__group > :not(p):hover,
.normal__link:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-decoration-color: var(--prim-500-main);
}

.currPage {
  text-decoration: underline;
  text-decoration-color: var(--rules-color);
}

.gift__link {
  position: relative;
}

.dot {
  width: var(--font-size-bodyText_03);
  height: var(--font-size-bodyText_03);
  background: var(--prim-500-main);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: calc(var(--font-size-bodyText_03) * -1);
  transition: all 0.2s;
  opacity: 0;
}
.dot_on {
  opacity: 100;
}
