.story__container {
  margin-top: var(--spacing-S);
}

.story__btn {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-SS);
  cursor: pointer;
  margin: 0 auto;
}

.icone {
  width: 3rem;
  height: 3rem;
  color: var(--rules-color);
}

.story__btn_txt {
  font-family: var(--font-geologica);
  font-size: var(--font-size-subTitle_03);
  letter-spacing: var(--letter-spacing-S);
  font-weight: 400;
  transition: opacity var(--transi-time-M);
}

.story__btn:hover > * {
  color: var(--sec-300);
  opacity: 0.8;
}
