.section01__Grid {
  position: relative;
  height: 190vh;
  max-height: 2100px;
  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-rows: 1px 1.2fr 15rem 1fr 2.4rem;
  align-items: center;
  justify-items: center;
  padding-inline: var(--padding-inLine);
  max-width: var(--maxWidth);
  margin: auto;
  gap: var(--spacing-S);
  margin-bottom: var(--spacing-L);
  transform: translateY(-10vh);
}

.horizontalRule {
  transform: translateY(var(--spacing-S));
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
  border: none;
  border-top: 0.5px solid;
  border-color: var(--rules-color);
}

.section01__mainProject {
  grid-row: 1;
  object-fit: cover;
  position: relative;
}

.img_caption__containeur{
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 400;
}

.link__img {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 300;
  overflow: hidden;
}
.link__img:hover > *,
.link__img_museum:hover > *,
.link__img_city:hover > * {
  filter: saturate(0.3);
  transition: all 0.3s;
}

.link__img:hover > * {
  transform: scale(1.1);
}

.imgJapPreview {
  object-fit: cover;
  text-align: right;
  object-position: 25%;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s;
}
.imgJapPreview__position {
  object-position: 50%;
}

.kanji {
  align-self: last baseline;
  grid-row: 2/3;
  grid-column: 2/3;
  font-weight: 400;
  line-height: var(--font-size-Display_01);
  margin-bottom: 12rem;
  cursor: default;
}
.title__box {
  grid-row: 2/3;
  grid-column: 3/4;

  justify-self: end;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: left;
  position: relative;
  cursor: default;
}

.title__box_txt {
  font-weight: 300;
}
.title__box_line01 {
  grid-row: 1/2;
  grid-column: 1/3;
  letter-spacing: 1.6rem;
}

.title__box_line02 {
  letter-spacing: 1.95rem;
  grid-row: 2/3;
  grid-column: 1/2;
}

.title__box_line {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 8.6rem;
  justify-self: end;
  margin-right: 2.8rem;
  transform: translateY(12px);
}
.title__box_L3 {
  grid-row: 3/4;
  grid-column: 1/3;
  letter-spacing: 2.8rem;
  font-weight: 300;
}

.p1__link__containeur {
  margin-top: var(--spacing-L);
}

.shadows__title,
.museums__title {
  align-self: last baseline;
  grid-row: 3/4;
  text-align: center;
  line-height: var(--font-size-subTitle_01);
  cursor: default;
}

.shadows__title {
  grid-column: 1/2;
}
.museums__title {
  grid-column: 3/4;
}

.underline {
  margin-top: 0.8rem;
}

.imgCityPreview,
.imgMuseumPreview {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  padding-inline: var(--spacing-M);
  transition: all 0.3s;
}

.img_caption__containeur_city,
.link__img_city {
  grid-row: 4/5;
  grid-column: 1/2;
}

.link__img_city,
.link__img_museum {
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
  position: relative;
}

.link__img_museum {
  grid-row: 4/5;
  grid-column: 3/5;
  padding-right: var(--spacing-S);
}

.legend__shadows,
.legend__museums {
  grid-row: 5/6;

  position: relative;
  justify-self: right;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  gap: var(--spacing-XS);
}

.legend__shadows {
  grid-column: 1/2;
  position: relative;
  padding-right: var(--spacing-M);
}

.legend__museums {
  grid-column: 3/4;
  padding-right: 0;
  padding-right: var(--spacing-M);
}

.verticalRule {
  border-left: 1px solid var(--font-color-main);
  height: var(--spacing-M);
}

.kanji__line {
  border-top: 1px solid var(--font-color-main);
}

.grid__link {
  grid-row: 5/6;
  grid-column: 1/4;
}

.link__img:hover ~ .img_caption__containeur {
  transform: translateX(24rem);
  opacity: 100;

}

.img_caption__containeur {
  align-self:self-end;
  justify-self: right;
  opacity: 0;

  width: 24rem;
  padding-left: 0.8rem;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-XS);
  transition: all 0.2s;
}
.img_caption__containeur_city,
.img_caption__containeur_museum {
  grid-row: 4/5;
  position: absolute;
  opacity: 0;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-XS);
  transition: all 0.2s;
}

.img_caption__containeur_city {
  grid-column: 1/2;
  top: 12rem;
  right: 0;
}
.img_caption__containeur_museum {
  grid-column: 3/4;
  bottom: 12rem;
  left: 0;
  text-align: right;
}

.link__img_city:hover .img_caption__containeur_city,
.link__img_museum:hover .img_caption__containeur_museum {
  opacity: 100;
  transition: all 0.2s;
}
.link__img_city:hover .img_caption__containeur_city {
  top: 12rem;
  right: -12rem;
}

.link__img_museum:hover .img_caption__containeur_museum {
  left: -13rem;
  bottom: 12rem;
}

.img_caption__right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XS);
}

.img_caption__left {
  border-right: 1px solid var(--font-color-sec);
  height: var(--spacing-L);
}
.img_caption__down p {
  color: var(--font-color-sec);
}

.link_txt {
  transition: all 0.2s;
}
.link_txt:hover {
  transform: scale(1.05);
  border-bottom: 1px solid var(--rules-color);
  transform-origin: bottom right
}
